<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <div class="w-30 py-5">
      <h2 class="ps-3 mb-4">Afegir un perfil nou</h2>
        <%= render 'form', profile: @profile %>
    </div>
  </div>
</div>
