<div class="container-fluid">
  <div class="row">
    <div class="col create-profile">

    </div>

    <div class="col p-5">
      <h2 class="ps-3 mb-4">Afegir un perfil nou</h2>
        <%= render 'form', profile: @profile %>
    </div>
  </div>
</div>
