<p style="color: green"><%= notice %></p>
<h1>Bedrooms</h1>
<div id="bedrooms">
  <% @bedrooms.each do |bedroom| %>
    <%= render bedroom %>
  <% end %>
</div>
<%= link_to "New bedroom", new_vrental_bedroom_path(@vrental) %>
