<h1>Modificar l'inquili</h1>
<div class="d-flex flex-column">
  <div class="pt-4">
    <%= render 'form', renter: @renter %>
  </div>
  <div class="pt-4">
    <%= link_to 'Veure l\'inquili', @renter, class: 'btn btn-primary' %>
  </div>
  <div class="pt-4">
    <%= link_to 'Tornar', renters_path, class: 'btn btn-info' %>
  </div>
</div>
