
<div class="container-fluid">
  <div class="my-3 text-end">
    <%= link_to 'Afegir un inquili nou', new_renter_path, class: "btn btn-primary" %>
  </div>
  <%= render "renters", renters: @renters %>
</div>
