<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 class="font-weight-bold text-primary text-center mb-2">Afegir un inquili de lloguer anual</h4>
    <hr>
    <div class="container mt-5 w-50">
      <%= render 'form', renter: @renter %>
    </div>
  </div>
</div>
