<div id="<%= dom_id bathroom %>">
  <p>
    <strong>Bathroom type:</strong>
    <%= bathroom.bathroom_type %>
  </p>

  <p>
    <strong>Vrental:</strong>
    <%= bathroom.vrental_id %>
  </p>

</div>
