// Specific CSS for your home-page

.edit-hour {
  border-color: #1cc88a;
  color: #858796;
  font-size: 0.875rem;
}

.nowrap {
  white-space: nowrap !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.gridtable {
  font-size: 0.85rem;
}

.inner-border {
  border: 1px solid lightgray;
  box-shadow: inset 0px 0px 0px 10px lightgray;
  box-sizing: border-box; /* Include padding and border in element's width and height */
}

.table-head {
  font-weight: 500;
}

.row.striped {
  padding: 1rem;
}

.row.striped:nth-child(odd) {
  background: #bdbcbc;
}

.row.striped:focus,
.row.striped:hover {
  background: #bdbcbc;
}
@media (max-width: 767.98px) {
  row.table-head {
    display: none;
  }
}
