
<div class="container-fluid">
  <div class="my-3 text-end">
    <%= link_to 'Afegir un propietari nou', new_owner_path, class: "btn btn-primary" %>
  </div>
  <%= render "owners", owners: @owners %>
</div>
