<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 class="font-weight-bold text-primary text-center mb-2">Afegir un contracte de compravenda per a <%= @realestate.address %></h4>
    <div class="d-flex justify-content-center">
      <% if @realestate.seller.present? %>
        <p class="text-secondary text-center mb-2">Venedor: <%= @realestate.seller.fullname %></p>
      <% else %>
        <%= link_to "Afegir propietari", edit_realestate_path(@realestate) %>
      <% end %>
    </div>
    <hr>
    <div class="container d-flex justify-content-center mt-5 pb-5">
      <%= render 'form', realestate: @realestate, contract: @contract %>
    </div>
  </div>
</div>
