<div class="row pdf-row pb-1">
  <div class="col pdf-column"><%= l(task.start_date, format: :long) %></div>
  <div class="col pdf-column"><%= task.start_time.strftime("%H:%M") %>h</div>
  <div class="col pdf-column"><%= task.title %></div>
  <div class="col pdf-column">
    <%= link_to task, class: "text-danger text-decoration-none", data: {turbo_method: :delete, turbo_confirm: "Segur que vols esborrar #{task.title}?"} do %>
      <i class="fas fa-trash-can fa-sm"></i>
    <% end %></div>
</div>
