<p id="notice"><%= notice %></p>

<div class="tasks-header">
  <h4>Tasques</h4>

  <div class="container">
        <div class="row border-bottom pb-1">
          <div class="col border-bottom pb-1">Des de</div>
          <div class="col border-bottom pb-1">Fins a</div>
          <div class="col border-bottom pb-1">Tasca</div>
          <div class="col border-bottom pb-1">Detalls</div>
          <div class="col border-bottom pb-1">Modificar</div>
          <div class="col border-bottom pb-1">Esborrar</div>
        </div>
      <div id="tasks">
        <%= render @tasks %>
      </div>
  </div>
</div>
