<div class="pb-5 mb-5">
  <hr>
  <h4 class="mt-4 font-weight-bold text-primary text-center">Modificar el model de contracte: <%= @rentaltemplate.title %></h4>
  <hr>
  <div class="pt-4">
    <%= render 'form', rentaltemplate: @rentaltemplate %>
  </div>
</div>
