<p id="notice"><%= notice %></p>
<div><%= sanitize @rentaltemplate.text %></div>

<%= link_to 'Modificar', edit_rentaltemplate_path(@rentaltemplate) %> |
<%= link_to 'Tornar enrere', rentaltemplates_path %>
