
<div class="container-fluid mb-5">
  <div class="d-flex justify-content-between mt-4">
    <div>
      <%= link_to rentaltemplates_path, class: "btn btn-light btn-icon-split me-3" do %>
        <span class="icon text-white-600">
            <i class="fas fa-arrow-left"></i>
        </span>
        <span class="text m-0 text-primary" style="font-size: 0.85rem">
          Tornar
        </span>
      <% end %>
    </div>
    <div>
      <%= link_to 'Modificar', edit_rentaltemplate_path(@rentaltemplate), class: "btn btn-secondary" %> | <%= link_to 'Esborrar', @rentaltemplate, class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Segur que vols esborrar #{@rentaltemplate.title}?"} %>
    </div>
  </div>
  <hr>
  <div class="mt-5">
    <%= sanitize @rentaltemplate.text %>
  </div>
  <hr>
</div>
