<h1>Editing image url</h1>

<%= render "form", image_url: @image_url %>

<br>

<div>
  <%= link_to "Show this image url", @image_url %> |
  <%= link_to "Back to image urls", image_urls_path %>
</div>
