<h1>Tourists</h1>
<div id="tourists">
  <% @tourists.each do |tourist| %>
    <%= render tourist %>
    <p>
      <%= link_to "Show this tourist", tourist %>
    </p>
  <% end %>
</div>
<%= link_to "New tourist", new_tourist_path %>
