<p>INVERSTACH, SL, responsable du site web, ci-après dénommé RESPONSABLE, met ce document à la disposition des utilisateurs dans le but de se conformer aux obligations énoncées dans la Loi 34/2002 du 11 juillet sur les services de la société de l'information et du commerce électronique (LSSICE), BOE n° 166, ainsi que d'informer tous les utilisateurs du site web sur les conditions d'utilisation.</p>
<p>Toute personne accédant à ce site web assume le rôle d'utilisateur, s'engageant à respecter strictement les dispositions contenues ici, ainsi que toutes autres exigences légales applicables. INVERSTACH, SL se réserve le droit de modifier toute information pouvant apparaître sur le site web, sans obligation de notifier ou d'informer les utilisateurs de ces modifications, considérant que la publication sur le site web d'INVERSTACH, SL est suffisante.</p>
<h4>1. DONNÉES D'IDENTIFICATION</h4>
<ul>
  <li>Nom de domaine : <a href="https://sistachrentals.com/">https://sistachrentals.com/</a></li>
  <li>Nom commercial : Sistach Rentals</li>
  <li>Raison sociale : INVERSTACH, SL</li>
  <li>Numéro de TVA : B66577537</li>
  <li>API : 1009</li>
  <li>AICAT : 6541</li>
  <li>Siège social : c / Roser 1, 1º2ª 08600 Berga</li>
  <li>Téléphone : +34 972 100 381</li>
  <li>Email : <a href="mailto:info@sistachrentals.com">info@sistachrentals.com</a></li>
  <li>Inscrite au registre (commercial/public) : Registre commercial de Barcelone, volume B-472,210, folio 44948, feuille 1472.</li>
</ul>
<h4>2. DROITS DE PROPRIÉTÉ INTELLECTUELLE ET INDUSTRIELLE</h4>
<p>Le site web, y compris, mais sans s'y limiter, sa programmation, son édition, sa compilation et d'autres éléments nécessaires à son fonctionnement, ses designs, logos, textes et/ou graphiques, sont la propriété du RESPONSABLE ou, le cas échéant, sont sous licence ou autorisation expresse des auteurs. Tout le contenu du site web est dûment protégé par les lois sur la propriété intellectuelle et industrielle et est enregistré dans les registres publics correspondants.</p>
<p>Indépendamment de l'objectif pour lequel ils ont été conçus, la reproduction totale ou partielle, l'utilisation, l'exploitation, la distribution et la commercialisation nécessitent l'autorisation écrite préalable du RESPONSABLE. Toute utilisation non autorisée est considérée comme une violation grave des droits de propriété intellectuelle ou industrielle de l'auteur.</p>
<p>Les designs, logos, textes et/ou graphiques qui ne sont pas la propriété du RESPONSABLE et qui peuvent apparaître sur le site web appartiennent à leurs propriétaires respectifs, qui sont responsables de tout litige éventuel qui pourrait survenir à leur sujet. Le RESPONSABLE autorise expressément les tiers à rediriger directement vers un contenu spécifique du site web, et en tout cas, à rediriger vers le site web principal de <a href="https://sistachrentals.com/">https://sistachrentals.com</a>.</p>
<p>Le RESPONSABLE reconnaît les droits de propriété intellectuelle et industrielle correspondants de leurs propriétaires, et leur simple mention ou apparition sur le site web n'implique pas l'existence de droits ou de responsabilité à leur égard, ni n'implique une approbation, un parrainage ou une recommandation par le RESPONSABLE. </p>
<p>Pour signaler toute violation possible des droits de propriété intellectuelle ou industrielle, ainsi que tout contenu sur le site web, vous pouvez le faire par email à l'adresse <a href="mailto:info@sistachrentals.com">info@sistachrentals.com</a></p>
<h4>3. EXONÉRATION DE RESPONSABILITÉ</h4>
<p>Le RESPONSABLE se dégage de toute responsabilité découlant des informations publiées sur son site web, pour autant que ces informations aient été manipulées ou introduites par un tiers non lié à lui.</p>
<h4>4. POLITIQUE DE COOKIES</h4>
<p>Pour assurer le bon fonctionnement de ce site, nous plaçons parfois de petits fichiers de données appelés cookies sur les appareils des utilisateurs. La plupart des sites web font cela.</p>
<h3>Qu'est-ce que les Cookies ?</h3>
<p>Un cookie est un petit fichier texte que les sites web installent sur l'ordinateur ou le dispositif mobile des utilisateurs qui les visitent. Les cookies permettent au site web de se souvenir des actions et des préférences de l'utilisateur (telles que les identifiants de connexion, la langue, la taille de la police et d'autres préférences d'affichage) afin que les utilisateurs n'aient pas à les configurer à nouveau lorsqu'ils reviennent sur le site ou parcourent ses pages.</p>
<h3>Comment utilisons-nous les Cookies ?</h3>
<p>Ce site web utilise Google Analytics, un service d'analyse web fourni par Google, Inc., une société du Delaware ayant son siège social principal au 1600 Amphitheatre Parkway, Mountain View, Californie, CA 94043, États-Unis (« Google »). Google Analytics utilise des « cookies », qui sont des fichiers texte placés sur votre ordinateur, pour aider le site web à analyser comment les utilisateurs utilisent le site. Les informations générées par le cookie concernant votre utilisation du site web (y compris votre adresse IP) seront transmises à et stockées par Google sur des serveurs aux États-Unis. Google utilisera ces informations dans le but d'évaluer votre utilisation du site web, de compiler des rapports sur l'activité du site web et de fournir d'autres services liés à l'activité du site web et à l'utilisation d'Internet. Google peut également transférer ces informations à des tiers lorsque la loi l'exige, ou lorsque ces tiers traitent ces informations pour le compte de Google. Google n'associera pas votre adresse IP à d'autres données détenues par Google.</p>
<p

>Vous pouvez refuser l'utilisation de cookies en sélectionnant les paramètres appropriés de votre navigateur, mais veuillez noter que si vous le faites, vous pourriez ne pas être en mesure d'utiliser toutes les fonctionnalités de ce site web. En utilisant ce site web, vous consentez au traitement de vos données par Google de la manière et aux fins décrites ci-dessus.</p>
<h3>Comment contrôler les Cookies ?</h3>
<p>Vous pouvez contrôler ou supprimer les cookies à votre convenance. Pour plus d'informations, consultez AllAboutCookies.org. En plus de pouvoir supprimer tous les cookies déjà présents sur votre ordinateur, vous pouvez également configurer la plupart des navigateurs pour qu'ils n'acceptent plus les cookies. Cependant, gardez à l'esprit que si vous refusez les cookies, vous devrez peut-être reconfigurer vos préférences à chaque visite d'un site web, et certaines services et fonctionnalités risquent de ne plus fonctionner.</p>
