<p>Ce site web est destiné à un usage personnel et privé uniquement. Toute distribution, modification, transformation, extraction, affichage public et/ou toute autre activité sont strictement interdits sauf autorisation expresse de Inverstach SL.</p>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">CONDITIONS GÉNÉRALES DE RÉSERVATION L'ESTARTIT</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">CONDITIONS GÉNÉRALES DE RÉSERVATION BARCELONE</button>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <div class="content">
      <h4>Enregistrement et départ :</h4>
      <p>L'accueil des clients se fait dans nos bureaux, à la rue Església, 34, rez-de-chaussée, 17258 Estartit. L'heure d'enregistrement est de 16h00 à 22h00. Nous vous remettrons les clés et un plan de votre appartement. Heure d'enregistrement régulière : 15h00 - 19h00. Départ : avant 10h00.</p>
      <h4>Utilisation des biens :</h4>
      <p>Le client s'engage à préserver et à prendre soin de l'appartement, ainsi que de tout son contenu, en parfait état. Une inspection sera effectuée à l'entrée et à la sortie pour s'assurer que tout est laissé tel qu'il a été trouvé. Droit d'admission réservé.</p>
      <h4>Politique de nettoyage :</h4>
      <p>Les biens sont nettoyés et préparés par le personnel de nettoyage avant votre arrivée. Le service de nettoyage quotidien n'est pas inclus dans le prix, mais peut être organisé comme un service supplémentaire.</p>
      <h4>Politique de bruit :</h4>
      <p>Bien que vous soyez un locataire temporaire, veuillez être respectueux de vos voisins, en particulier dans les couloirs.</p>
      <h4>Politique d'annulation :</h4>
      <p>Nous facturons un prépaiement de 30 % pour garantir la réservation. Si un préavis approprié est donné jusqu'à 30 jours avant l'arrivée, nous rembourserons votre paiement initial. Si vous annulez 29 jours ou moins avant l'arrivée, le prépaiement de 30 % ne sera pas remboursé.</p>
      <h4>Confirmation de réservation :</h4>
      <p>Les confirmations de réservation sont générées automatiquement à l'écran lorsque l'utilisateur accepte la réservation et sont également envoyées par e-mail après la réservation. Il y a une possibilité que cette confirmation se retrouve dans le dossier "spam" de l'utilisateur, donc l'utilisateur, en cas de non réception de cet e-mail, devrait vérifier tous les dossiers de courrier électronique. Nous recommandons d'imprimer ou de sauvegarder cette confirmation au format PDF lorsque vous terminez votre réservation.</p>
      <h4>L'entreprise : Inverstach SL</h4>
      <p>Adresse enregistrée : c/ Roser 1, 1-2, 08600 Berga</p>
      <p>Adresse du bureau à Estartit : c/Església, 34, rez-de-chaussée, 17528 Estartit</p>
      <p>Numéro de TVA : B66577537</p>
      <p>API 1009 / AICAT 6541 / AF COL 920</p>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <div class="content">
      <h4>Enregistrement et départ :</h4>
      <p>Comme il n'y a pas de réception permanente dans l'immeuble d'appartements, nous devons connaître l'heure approximative de votre arrivée pour venir à l'appartement à temps et vous accueillir. Si vous arrivez en avion, il serait très utile si vous pouviez nous fournir votre numéro de vol et si vous avez l'intention de prendre un taxi, un bus ou un train depuis l'aéroport (afin que nous puissions estimer l'heure approximative d'arrivée).</p>
      <h4>Notre horaire :</h4>
      <p>Enregistrement : de 16h00 à 23h00 ; Départ : avant 12h00 (midi)</p>
      <h4>Enregistrement anticipé :</h4>
      <p>Si vous arrivez avant 16h00 : à partir de 12h30 (pas plus tôt), vous pouvez laisser vos bagages dans l'appartement lui-même. Si l'appartement est déjà nettoyé et prêt, nous serons heureux de vous enregistrer et de vous laisser entrer, mais cela n'est pas toujours possible. Dans le cas où l'appartement doit être nettoyé, vous pouvez laisser vos bagages, récupérer les clés, puis retourner à l'appartement à partir de 16h00.</p>
      <h4>Enregistrement tardif :</h4>
      <p>(après 23h00) n'est possible que jusqu'à 2h00 du matin. Si vous arrivez après 23h00, un supplément doit être payé : 23h00-00h00 : 20 €, 00h00-01h00 : 30 €, 01h00-02h00 : 50 € (à payer à l'arrivée).</p>
      <h4>Règles de l'appartement :</h4>
      <p>Les clients sont tenus de faire un usage approprié de
        l'appartement et de ses installations. Une inspection de l'appartement sera effectuée avant l'entrée et après le départ de chaque client pour confirmer que tout est en bon état. Droit d'admission réservé.</p>
      <h4>Politique de nettoyage :</h4>
      <p>Nos appartements sont nettoyés et préparés avec des draps et des serviettes avant l'arrivée de chaque client. Le service de nettoyage quotidien n'est pas inclus dans le prix, mais peut être organisé comme un service supplémentaire moyennant des frais supplémentaires.</p>
      <h4>Politique de bon voisinage :</h4>
      <p>Les clients sont tenus de respecter la tranquillité des voisins, en particulier pendant les heures de repos, de 22h00 à 8h00.</p>
      <h4>Confirmation de réservation :</h4>
      <p>Les confirmations de réservation sont générées automatiquement à l'écran lorsque l'utilisateur accepte la réservation et sont également envoyées par e-mail après la réservation. Il y a une possibilité que cette confirmation se retrouve dans le dossier "spam" de l'utilisateur, donc l'utilisateur, en cas de non réception de cet e-mail, devrait vérifier tous les dossiers de courrier électronique. Nous recommandons d'imprimer ou de sauvegarder cette confirmation au format PDF lorsque vous terminez votre réservation.</p>
      <h4>L'entreprise : ILLA CATALANA S.L.</h4>
      <p>Numéro de TVA : ESB65826471, Adresse enregistrée : c/ Roser 1, 1-2, 08600 Berga, Barcelone, Espagne. Registre du commerce de Barcelone, volume : 43245 (119/428872).</p>
    </div>
  </div>
</div>
