<div class="d-flex flex-column align-items-center">
  <h4 class="text-primary"><%= t('rate_plan') %> <%= @rate_plan.name %></h4>
  <h5 class="text-secondary"><%= t('modify_general_terms') %></h5>
</div>
<%= render "form", rate_plan: @rate_plan %>
