<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 class="font-weight-bold text-primary text-center mb-2">Afegir un nou plà de tarifes</h4>
    <hr>
    <div class="container mt-5 w-75">
      <%= render 'form', rate_plan: @rate_plan %>
    </div>
  </div>
</div>
