<p>INVERSTACH, SL, responsable del sitio web, en adelante REFERIDO, pone a disposición de los usuarios el presente documento con el objetivo de cumplir con las obligaciones establecidas en la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico (LSSICE), BOE Nº 166, así como informar a todos los usuarios del sitio web sobre las condiciones de uso.</p>
<p>Cualquier persona que acceda a este sitio web asume el papel de usuario, comprometiéndose a cumplir estrictamente con las disposiciones aquí establecidas, así como con cualquier otra disposición legal aplicable. INVERSTACH, SL se reserva el derecho de modificar cualquier tipo de información que pueda aparecer en el sitio web, sin que exista obligación de preavisar o poner en conocimiento de los usuarios estas obligaciones, entendiendo que la publicación en el sitio web de INVERSTACH, SL es suficiente.</p>
<h4>1. DATOS DE IDENTIFICACIÓN</h4>
<ul>
  <li>Nombre de dominio: <a href="https://sistachrentals.com/">https://sistachrentals.com/</a></li>
  <li>Nombre comercial: Sistach Rentals</li>
  <li>Denominación social: INVERSTACH, SL</li>
  <li>CIF: B66577537</li>
  <li>API: 1009</li>
  <li>AICAT: 6541</li>
  <li>Domicilio social: c/ Roser 1, 1º2ª 08600 Berga</li>
  <li>Teléfono: +34 972 100 381</li>
  <li>Correo electrónico: <a href="mailto:info@sistachrentals.com">info@sistachrentals.com</a></li>
  <li>Inscrita en el Registro (Mercantil / Público): Registro Mercantil de Barcelona, Tomo B-472.210, Folio 44948, Hoja 1472.</li>
</ul>
<h4>2. DERECHOS DE PROPIEDAD INTELECTUAL E INDUSTRIAL</h4>
<p>El sitio web, incluyendo, a título enunciativo pero no limitativo, su programación, edición, compilación y otros elementos necesarios para su funcionamiento, los diseños, logotipos, textos y/o gráficos, son propiedad del RESPONSABLE o, en su caso, disponen de licencia o autorización expresa por parte de los autores. Todos los contenidos del sitio web están debidamente protegidos por la normativa de propiedad intelectual e industrial, así como inscritos en los registros públicos correspondientes.</p>
<p>Independientemente de la finalidad para la que fueran destinados, la reproducción total o parcial, uso, explotación, distribución y comercialización, requieren en todo caso de la autorización escrita previa por parte del RESPONSABLE. Cualquier uso no autorizado previamente se considera un incumplimiento grave de los derechos de propiedad intelectual o industrial del autor.</p>
<p>Los diseños, logotipos, textos y/o gráficos ajenos al RESPONSABLE y que puedan aparecer en el sitio web, pertenecen a sus respectivos propietarios, siendo ellos mismos responsables de cualquier posible controversia que pudiera suscitarse respecto a los mismos. El RESPONSABLE autoriza expresamente a que terceros puedan redirigir directamente a los contenidos concretos del sitio web, y en todo caso redirigir al sitio web principal de <a href="https://sistachrentals.com/">https://sistachrentals.com</a>.</p>
<p>El RESPONSABLE reconoce a favor de sus titulares los correspondientes derechos de propiedad intelectual e industrial, no implicando su sola mención o aparición en el sitio web la existencia de derechos o responsabilidad alguna sobre los mismos, como tampoco respaldo, patrocinio o recomendación por parte del mismo.</p>
<p>Para realizar cualquier tipo de observación respecto a posibles incumplimientos de los derechos de propiedad intelectual o industrial, así como sobre cualquier contenido del sitio web, puede hacerlo mediante el correo electrónico <a href="mailto:info@sistachrentals.com">info@sistachrentals.com</a>.</p>
<h4>3. EXENCIÓN DE RESPONSABILIDADES</h4>
<p>El RESPONSABLE se exime de cualquier tipo de responsabilidad derivada de la información publicada en su sitio web siempre que esta información haya sido manipulada o introducida por un tercero ajeno al mismo.</p>
<h4>4. POLÍTICA DE COOKIES</h4>
<p>Para que este sitio funcione correctamente, a veces instalamos en los dispositivos de los usuarios pequeños archivos de datos llamados cookies. La mayoría de los sitios web hacen esto.</p>
<h4>¿Qué son las Cookies?</h4>
<p>Una cookie es un pequeño archivo de texto que los sitios web instalan en el ordenador o dispositivo móvil de los usuarios que los visitan. Las cookies permiten que el sitio web recuerde las acciones y preferencias del usuario (identificación de inicio de sesión, idioma, tamaño de fuente y otras preferencias de visualización) para que el usuario no tenga que configurarlas nuevamente al regresar al sitio o navegar por sus páginas.</p>
<h4>¿Cómo utilizamos las Cookies?</h4>
<p>Este sitio web utiliza Google Analytics, un servicio analítico web proporcionado por Google, Inc., una empresa de Delaware con su sede principal en 1600 Amphitheatre Parkway, Mountain View, California, CA 94043, Estados Unidos ("Google"). Google Analytics utiliza "cookies", que son archivos de texto colocados en su ordenador, para ayudar al sitio web a analizar cómo los usuarios utilizan el sitio web. La información generada por la cookie sobre su uso del sitio web (incluyendo su dirección IP) será transmitida a y almacenada por Google en servidores en Estados Unidos. Google utilizará esta información con el propósito de evaluar su uso del sitio web, compilar informes sobre la actividad del sitio web y proporcionar otros servicios relacionados con la actividad del sitio web e Internet. Google también puede transferir esta información a terceros cuando así lo requiera la ley, o cuando estos terceros procesen la información en nombre de Google. Google no asociará su dirección IP con ningún otro dato en posesión de Google.</p>
<p>Usted puede rechazar el uso de cookies seleccionando la configuración adecuada de su navegador, pero tenga en cuenta que si lo hace, es posible que
  no pueda utilizar todas las funciones de este sitio web. Al utilizar este sitio web, usted consiente el procesamiento de datos sobre usted por Google de la manera y para los fines establecidos anteriormente.</p>
<h4>¿Cómo controlar las Cookies?</h4>
<p>Usted puede controlar o eliminar las cookies según lo desee. Para obtener más información, consulte AllAboutCookies.org. Además de poder eliminar todas las cookies que ya están en su ordenador, también puede configurar la mayoría de los navegadores para que dejen de aceptarlas. Sin embargo, tenga en cuenta que si rechaza las cookies, es posible que tenga que volver a configurar sus preferencias cada vez que visite un sitio web y que algunos servicios y funcionalidades dejen de funcionar.</p>
