<nav class="navbar py-0 dark-top navbar-expand-lg py-md-0">
  <div class="container d-flex justify-content-end">
    <!--
    <div>
      <a class="text-light text-sm me-2" href="tel:0034679654028">Tel: +34 679 654 028</a>
    </div>
    -->
    <%= language_dropdown(I18n.locale || params[:locale]) %>
  </div>
</nav>
