<section class="image-cover" style="background:url(http://res.cloudinary.com/dblfbrnnb/image/upload/v1/production/xiaww4cjs4f2qc7qhuc50z1xi66r.jpg) no-repeat;" data-overlay="5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-8">
        <div class="caption-wrap-content text-center">
          <h2><%= t("economy_apartments") %></h2>
          <p class="mb-5"><%= t("starting from") %></p>
          <a href="#" class="btn btn-light btn-md rounded">Explore More Property</a>
          <%= link_to list_map_path(pool: true, economy: true) %>
        </div>
      </div>
    </div>
  </div>
</section>
