<!-- ================= Explore Property ================= -->
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-10 text-center">
        <div class="sec-heading center">
          <h2>Explore Good places</h2>
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores</p>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Single Property -->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="property-listing property-2">
          <div class="listing-img-wrapper">
            <div class="list-img-slide">
              <div class="click">
                <div><a href="single-property-1.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt="" /></a></div>
                <div><a href="single-property-1.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt="" /></a></div>
                <div><a href="single-property-1.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt="" /></a></div>
              </div>
            </div>
          </div>
          <div class="listing-detail-wrapper">
            <div class="listing-short-detail-wrap">
              <div class="listing-short-detail">
                <span class="property-type">For Rent</span>
                <h4 class="listing-name verified"><a href="single-property-1.html" class="prt-link-detail">Banyon Tree Realty</a></h4>
              </div>
              <div class="listing-short-detail-flex">
                <h6 class="listing-card-info-price">$7,000</h6>
              </div>
            </div>
          </div>
          <div class="price-features-wrapper">
            <div class="list-fx-features">
              <div class="listing-card-info-icon">
                <div class="inc-fleat-icon"><img src="assets/img/bed.svg" width="13" alt="" /></div>
                3 Beds
              </div>
              <div class="listing-card-info-icon">
                <div class="inc-fleat-icon"><img src="assets/img/bathtub.svg" width="13" alt="" /></div>
                1 Bath
              </div>
              <div class="listing-card-info-icon">
                <div class="inc-fleat-icon"><img src="assets/img/move.svg" width="13" alt="" /></div>
                800 sqft
              </div>
            </div>
          </div>
          <div class="listing-detail-footer">
            <div class="footer-first">
              <div class="foot-location"><img src="assets/img/pin.svg" width="18" alt="" />210 Zirak Road, Canada</div>
            </div>
            <div class="footer-flex">
              <a href="property-detail.html" class="prt-view">View</a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Single Property -->
      <!-- Single Property -->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="property-listing property-2">
          <div class="listing-img-wrapper">
            <div class="list-img-slide">
              <div class="click">
                <div><a href="single-property-1.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt="" /></a></div>
                <div><a href="single-property-1.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt="" /></a></div>
                <div><a href="single-property-1.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt="" /></a></div>
              </div>
            </div>
          </div>
          <div class="listing-detail-wrapper">
            <div class="listing-short-detail-wrap">
              <div class="listing-short-detail">
                <span class="property-type">For Rent</span>
                <h4 class="listing-name verified"><a href="single-property-1.html" class="prt-link-detail">Blue Reef Properties</a></h4>
              </div>
              <div class="listing-short-detail-flex">
                <h6 class="listing-card-info-price">$8,400</h6>
              </div>
            </div>
          </div>
          <div class="price-features-wrapper">
            <div class="list-fx-features">
              <div class="listing-card-info-icon">
                <div class="inc-fleat-icon"><img src="assets/img/bed.svg" width="13" alt="" /></div>
                3 Beds
              </div>
              <div class="listing-card-info-icon">
                <div class="inc-fleat-icon"><img src="assets/img/bathtub.svg" width="13" alt="" /></div>
                1 Bath
              </div>
              <div class="listing-card-info-icon">
                <div class="inc-fleat-icon"><img src="assets/img/move.svg" width="13" alt="" /></div>
                800 sqft
              </div>
            </div>
          </div>
          <div class="listing-detail-footer">
            <div class="footer-first">
              <div class="foot-location"><img src="assets/img/pin.svg" width="18" alt="" />210 Zirak Road, Canada</div>
            </div>
            <div class="footer-flex">
              <a href="property-detail.html" class="prt-view">View</a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Single Property -->
      <!-- Single Property -->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="property-listing property-2">
          <div class="listing-img-wrapper">
            <div class="list-img-slide">
              <div class="click">
                <div><a href="single-property-1.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt="" /></a></div>
                <div><a href="single-property-1.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt="" /></a></div>
                <div><a href="single-property-1.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt="" /></a></div>
              </div>
            </div>
          </div>
          <div class="listing-detail-wrapper">
            <div class="listing-short-detail-wrap">
              <div class="listing-short-detail">
                <span class="property-type">For Rent</span>
                <h4 class="listing-name verified"><a href="single-property-1.html" class="prt-link-detail">Beacon Homes LLC</a></h4>
              </div>
              <div class="listing-short-detail-flex">
                <h6 class="listing-card-info-price">$9,200</h6>
              </div>
            </div>
          </div>
          <div class="price-features-wrapper">
            <div class="list-fx-features">
              <div class="listing-card-info-icon">
                <div class="inc-fleat-icon"><img src="assets/img/bed.svg" width="13" alt="" /></div>
                3 Beds
              </div>
              <div class="listing-card-info-icon">
                <div class="inc-fleat-icon"><img src="assets/img/bathtub.svg" width="13" alt="" /></div>
                1 Bath
              </div>
              <div class="listing-card-info-icon">
                <div class="inc-fleat-icon"><img src="assets/img/move.svg" width="13" alt="" /></div>
                800 sqft
              </div>
            </div>
          </div>
          <div class="listing-detail-footer">
            <div class="footer-first">
              <div class="foot-location"><img src="assets/img/pin.svg" width="18" alt="" />210 Zirak Road, Canada</div>
            </div>
            <div class="footer-flex">
              <a href="property-detail.html" class="prt-view">View</a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Single Property -->
      <!-- Single Property -->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="property-listing property-2">
          <div class="listing-img-wrapper">
            <div class="list-img-slide">
              <div class="click">
                <div><a href="single-property-1.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt="" /></a></div>
                <div><a href="single-property-1.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt="" /></a></div>
                <div><a href="single-property-1.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt="" /></a></div>
              </div>
            </div>
          </div>
          <div class="listing-detail-wrapper">
            <div class="listing-short-detail-wrap">
              <div class="listing-short-detail">
                <span class="property-type">For Rent</span>
                <h4 class="listing-name verified"><a href="single-property-1.html" class="prt-link-detail">Bluebell Real Estate</a></h4>
              </div>
              <div class="listing-short-detail-flex">
                <h6 class="listing-card-info-price">$6,500</h6>
              </div>
            </div>
          </div>
          <div class="price-features-wrapper">
            <div class="list-fx-features">
              <div class="listing-card-info-icon">
                <div class="inc-fleat-icon"><img src="assets/img/bed.svg" width="13" alt="" /></div>
                3 Beds
              </div>
              <div class="listing-card-info-icon">
                <div class="inc-fleat-icon"><img src="assets/img/bathtub.svg" width="13" alt="" /></div>
                1 Bath
              </div>
              <div class="listing-card-info-icon">
                <div class="inc-fleat-icon"><img src="assets/img/move.svg" width="13" alt="" /></div>
                800 sqft
              </div>
            </div>
          </div>
          <div class="listing-detail-footer">
            <div class="footer-first">
              <div class="foot-location"><img src="assets/img/pin.svg" width="18" alt="" />210 Zirak Road, Canada</div>
            </div>
            <div class="footer-flex">
              <a href="property-detail.html" class="prt-view">View</a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Single Property -->
      <!-- Single Property -->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="property-listing property-2">
          <div class="listing-img-wrapper">
            <div class="list-img-slide">
              <div class="click">
                <div><a href="single-property-1.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt="" /></a></div>
                <div><a href="single-property-1.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt="" /></a></div>
                <div><a href="single-property-1.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt="" /></a></div>
              </div>
            </div>
          </div>
          <div class="listing-detail-wrapper">
            <div class="listing-short-detail-wrap">
              <div class="listing-short-detail">
                <span class="property-type">For Rent</span>
                <h4 class="listing-name verified"><a href="single-property-1.html" class="prt-link-detail">Found Property Group</a></h4>
              </div>
              <div class="listing-short-detail-flex">
                <h6 class="listing-card-info-price">$2,850</h6>
              </div>
            </div>
          </div>
          <div class="price-features-wrapper">
            <div class="list-fx-features">
              <div class="listing-card-info-icon">
                <div class="inc-fleat-icon"><img src="assets/img/bed.svg" width="13" alt="" /></div>
                3 Beds
              </div>
              <div class="listing-card-info-icon">
                <div class="inc-fleat-icon"><img src="assets/img/bathtub.svg" width="13" alt="" /></div>
                1 Bath
              </div>
              <div class="listing-card-info-icon">
                <div class="inc-fleat-icon"><img src="assets/img/move.svg" width="13" alt="" /></div>
                800 sqft
              </div>
            </div>
          </div>
          <div class="listing-detail-footer">
            <div class="footer-first">
              <div class="foot-location"><img src="assets/img/pin.svg" width="18" alt="" />210 Zirak Road, Canada</div>
            </div>
            <div class="footer-flex">
              <a href="property-detail.html" class="prt-view">View</a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Single Property -->
      <!-- Single Property -->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="property-listing property-2">
          <div class="listing-img-wrapper">
            <div class="list-img-slide">
              <div class="click">
                <div><a href="single-property-1.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt="" /></a></div>
                <div><a href="single-property-1.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt="" /></a></div>
                <div><a href="single-property-1.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt="" /></a></div>
              </div>
            </div>
          </div>
          <div class="listing-detail-wrapper">
            <div class="listing-short-detail-wrap">
              <div class="listing-short-detail">
                <span class="property-type">For Rent</span>
                <h4 class="listing-name verified"><a href="single-property-1.html" class="prt-link-detail">Strive Partners Realty</a></h4>
              </div>
              <div class="listing-short-detail-flex">
                <h6 class="listing-card-info-price">$8,100</h6>
              </div>
            </div>
          </div>
          <div class="price-features-wrapper">
            <div class="list-fx-features">
              <div class="listing-card-info-icon">
                <div class="inc-fleat-icon"><img src="assets/img/bed.svg" width="13" alt="" /></div>
                3 Beds
              </div>
              <div class="listing-card-info-icon">
                <div class="inc-fleat-icon"><img src="assets/img/bathtub.svg" width="13" alt="" /></div>
                1 Bath
              </div>
              <div class="listing-card-info-icon">
                <div class="inc-fleat-icon"><img src="assets/img/move.svg" width="13" alt="" /></div>
                800 sqft
              </div>
            </div>
          </div>
          <div class="listing-detail-footer">
            <div class="footer-first">
              <div class="foot-location"><img src="assets/img/pin.svg" width="18" alt="" />210 Zirak Road, Canada</div>
            </div>
            <div class="footer-flex">
              <a href="property-detail.html" class="prt-view">View</a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Single Property -->
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <a href="listings-list-with-sidebar.html" class="btn btn-theme-light-2 rounded">Browse More Properties</a>
      </div>
    </div>
  </div>
</section>
<!-- ================================= Explore Property =============================== -->
