<%# fixme add conditional to first import the rates if they are not present %>
<div class="d-flex flex-column justify-content-end mb-3">
  <p class="text-muted-2"><%= t('get_bookings_from_beds') %></p>
  <%= form_with url: get_bookings_vrental_path(@vrental), method: 'get', class: "d-flex justify-content-end align-items-end gap-2" do |form| %>
    <%= form.date_field :from_date, value: Date.today.beginning_of_year.strftime('%Y-%m-%d'), class: 'datepicker' %>
    <%= form.submit 'Importar', class: 'btn btn-sm btn-secondary' %>
  <% end %>
</div>
