<div class="page-title">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h2 class="ipt-title"><%= title %></h2>
        <span class="ipn-subtitle"><%= subtitle %></span>
      </div>
      <div>
        <%= link_to book_property_path(vrental_id: @vrental.id), target: '_blank', class: "ipn-subtitle" do %>
          <i class="fa-solid fa-house-signal me-2"></i><%= t('view_on_website', property: @vrental.name) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
