<section class="image-cover" style="background:url(https://via.placeholder.com/1920x900) no-repeat;" data-overlay="5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-8">
        <div class="caption-wrap-content text-center">
          <h2>Search Perfect Place in your City</h2>
          <p class="mb-5">We post regulary most powerful articles for help and support.</p>
          <a href="#" class="btn btn-light btn-md rounded">Explore More Property</a>
        </div>
      </div>
    </div>
  </div>
</section>
