<nav class="navbar py-0 dark-top navbar-expand-lg py-md-0">
  <div class="container d-flex justify-content-end gap-5">
    <% if user_signed_in? && content_for?('application') %>
      <%= link_to root_path, class: "text-light", target: "_blank" do %>
        <i class="fa-solid fa-globe me-1"></i> <%= t('website') %>
      <% end %>
    <% end %>
    <!--
    <div>
      <a class="text-light text-sm me-2" href="tel:0034679654028">Tel: +34 679 654 028</a>
    </div>
    -->
    <%= language_dropdown(I18n.locale || params[:locale]) %>
  </div>
</nav>
