<% if user_signed_in? %>
  <div class="btn-group account-drop">
    <button type="button" class="btn btn-order-by-filt dropdown-toggle" id="showbutton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag(current_user.photo.key, class: "avatar-img") %>
      <% else %>
        <i class="fa-solid fa-gear me-2"></i>
      <% end %>
      <span class="d-none d-lg-flex"><%= current_user.email %></span>
    </button>
    <div class="dropdown-menu pull-right animated flipInX" id="showing">
      <%= render 'shared/user_menu_links' %>
    </div>
  </div>
<% else %>
  <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#login">
    <i class="fa-solid fa-arrow-right-from-bracket me-2"></i><%= t("sign_in") %>
  </a>
<% end %>
