<div class="hero-video-banner">
  <div class="video-banner">
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="https://res.cloudinary.com/dblfbrnnb/video/upload/v1688833685/development/ut70yvtlwa5hkq01zfgako8m3d2k.mp4" type="video/mp4">
    </video>
  </div>
  <div class="content-container">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-md-11 col-sm-12">
        <div class="inner-banner-text text-center">
          <p class="lead-i text-light">Descobreix les nostres suggerències <span class="badge badge-success">Reserva online</span></p>
          <h2><span class="font-normal"><%= t("find_your") %> <%= t("perfect_holiday") %></span> </h2>
        </div>
        <%= render 'shared/search_bar_advanced' %>
      </div>
    </div>
  </div>
</div>
