<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 class="font-weight-bold text-primary text-center mb-2">Nova liquidació <%= @vrental.name %></h4>
    <hr>
    <div class="container-fluid mt-5 pb-5">
      <%= render 'form', vrental: @vrental, statement: @statement %>
    </div>
  </div>
</div>
