<p><%= t('hello_formal', recipient: @user.owner.fullname) %></p>
<p><%= t('welcome_text') %></p>
<p><%= link_to t('create_password'), edit_password_url(@user, reset_password_token: @token) %></p>
<p><%= t('owner_access_explanation') %></p>
