<!-- Nearby
        <div class="property_block_wrap style-2">
          <div class="property_block_wrap_header">
            <a data-bs-toggle="collapse" data-bs-target="#clSev" aria-controls="clSev" href="javascript:void(0);" aria-expanded="true">
              <h4 class="property_block_title">Nearby</h4>
            </a>
          </div>
          <div id="clSev" class="panel-collapse collapse">
            <div class="block-body">

              <div class="nearby-wrap">
                <div class="nearby_header">
                  <div class="nearby_header_first">
                    <h5>Food Around</h5>
                  </div>
                  <div class="nearby_header_last">
                    <div class="nearby_powerd">
                      Powered by <%= image_tag("food.png", class: "img-fluid", alt: "") %>
                    </div>
                  </div>
                </div>
                <div class="neary_section_list">
                  <div class="neary_section">
                    <div class="neary_section_first">
                      <h4 class="nearby_place_title">The Rise hotel<small>(2.42 mi)</small></h4>
                    </div>
                    <div class="neary_section_last">
                      <div class="nearby_place_rate">
                        <i class="fa fa-star filled"></i>
                        <i class="fa fa-star filled"></i>
                        <i class="fa fa-star filled"></i>
                        <i class="fa fa-star filled"></i>
                        <i class="fa fa-star filled"></i>
                      </div>
                      <small class="reviews-count">(105 Reviews)</small>
                    </div>
                  </div>
                  <div class="neary_section">
                    <div class="neary_section_first">
                      <h4 class="nearby_place_title">Blue Ocean Bar & Restaurant<small>(1.52 mi)</small></h4>
                    </div>
                    <div class="neary_section_last">
                      <div class="nearby_place_rate">
                        <i class="fa fa-star filled"></i>
                        <i class="fa fa-star filled"></i>
                        <i class="fa fa-star filled"></i>
                        <i class="fa fa-star filled"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <small class="reviews-count">(40 Reviews)</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        Nearby End -->
