        <!-- Reviews
        <div class="rating-overview">
          <div class="rating-overview-box">
            <span class="rating-overview-box-total">4.2</span>
            <span class="rating-overview-box-percent">out of 5.0</span>
            <div class="star-rating" data-rating="5">
              <i class="fas fa-star fs-xs mx-1"></i><i class="fas fa-star fs-xs mx-1"></i><i class="fas fa-star fs-xs mx-1"></i><i class="fas fa-star fs-xs mx-1"></i><i class="fas fa-star fs-xs mx-1"></i>
            </div>
          </div>
          <div class="rating-bars">
            <div class="rating-bars-item">
              <span class="rating-bars-name">Service</span>
              <span class="rating-bars-inner">
                <span class="rating-bars-rating high" data-rating="4.7">
                  <span class="rating-bars-rating-inner" style="width: 85%;"></span>
                </span>
                <strong>4.7</strong>
              </span>
            </div>
            <div class="rating-bars-item">
              <span class="rating-bars-name">Value for Money</span>
              <span class="rating-bars-inner">
                <span class="rating-bars-rating good" data-rating="3.9">
                  <span class="rating-bars-rating-inner" style="width: 75%;"></span>
                </span>
                <strong>3.9</strong>
              </span>
            </div>
            <div class="rating-bars-item">
              <span class="rating-bars-name">Location</span>
              <span class="rating-bars-inner">
                <span class="rating-bars-rating mid" data-rating="3.2">
                  <span class="rating-bars-rating-inner" style="width: 52.2%;"></span>
                </span>
                <strong>3.2</strong>
              </span>
            </div>
            <div class="rating-bars-item">
              <span class="rating-bars-name">Cleanliness</span>
              <span class="rating-bars-inner">
                <span class="rating-bars-rating poor" data-rating="2.0">
                  <span class="rating-bars-rating-inner" style="width:20%;"></span>
                </span>
                <strong>2.0</strong>
              </span>
            </div>
          </div>
        </div>
        -->
<!-- Single Reviews Block
        <div class="property_block_wrap style-2">
          <div class="property_block_wrap_header">
            <a data-bs-toggle="collapse" data-bs-target="#clSix" aria-controls="clSix" href="javascript:void(0);" aria-expanded="true">
              <h4 class="property_block_title">102 Reviews</h4>
            </a>
          </div>
          <div id="clSix" class="panel-collapse collapse">
            <div class="block-body">
              <div class="author-review">
                <div class="comment-list">
                  <ul>
                    <li class="article_comments_wrap">
                      <article>
                        <div class="article_comments_thumb">
                          <img src="https://via.placeholder.com/800x800" alt="">
                        </div>
                        <div class="comment-details">
                          <div class="comment-meta">
                            <div class="comment-left-meta">
                              <h4 class="author-name">Rosalina Kelian</h4>
                              <div class="comment-date">19th May 2018</div>
                            </div>
                          </div>
                          <div class="comment-text">
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim laborumab.
                              perspiciatis unde omnis iste natus error.</p>
                          </div>
                        </div>
                      </article>
                    </li>
                    <li class="article_comments_wrap">
                      <article>
                        <div class="article_comments_thumb">
                          <img src="https://via.placeholder.com/800x800" alt="">
                        </div>
                        <div class="comment-details">
                          <div class="comment-meta">
                            <div class="comment-left-meta">
                              <h4 class="author-name">Rosalina Kelian</h4>
                              <div class="comment-date">19th May 2018</div>
                            </div>
                          </div>
                          <div class="comment-text">
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim laborumab.
                              perspiciatis unde omnis iste natus error.</p>
                          </div>
                        </div>
                      </article>
                    </li>
                  </ul>
                </div>
              </div>
              <a href="#" class="reviews-checked text-primary"><i class="fas fa-arrow-alt-circle-down mr-2"></i>See More Reviews</a>
            </div>
          </div>
        </div>
        Single Block Wrap -->
<!-- Nearby
        <div class="property_block_wrap style-2">
          <div class="property_block_wrap_header">
            <a data-bs-toggle="collapse" data-bs-target="#clSev" aria-controls="clSev" href="javascript:void(0);" aria-expanded="true">
              <h4 class="property_block_title">Nearby</h4>
            </a>
          </div>
          <div id="clSev" class="panel-collapse collapse">
            <div class="block-body">

              <div class="nearby-wrap">
                <div class="nearby_header">
                  <div class="nearby_header_first">
                    <h5>Food Around</h5>
                  </div>
                  <div class="nearby_header_last">
                    <div class="nearby_powerd">
                      Powered by <%= image_tag("food.png", class: "img-fluid", alt: "") %>
                    </div>
                  </div>
                </div>
                <div class="neary_section_list">
                  <div class="neary_section">
                    <div class="neary_section_first">
                      <h4 class="nearby_place_title">The Rise hotel<small>(2.42 mi)</small></h4>
                    </div>
                    <div class="neary_section_last">
                      <div class="nearby_place_rate">
                        <i class="fa fa-star filled"></i>
                        <i class="fa fa-star filled"></i>
                        <i class="fa fa-star filled"></i>
                        <i class="fa fa-star filled"></i>
                        <i class="fa fa-star filled"></i>
                      </div>
                      <small class="reviews-count">(105 Reviews)</small>
                    </div>
                  </div>
                  <div class="neary_section">
                    <div class="neary_section_first">
                      <h4 class="nearby_place_title">Blue Ocean Bar & Restaurant<small>(1.52 mi)</small></h4>
                    </div>
                    <div class="neary_section_last">
                      <div class="nearby_place_rate">
                        <i class="fa fa-star filled"></i>
                        <i class="fa fa-star filled"></i>
                        <i class="fa fa-star filled"></i>
                        <i class="fa fa-star filled"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <small class="reviews-count">(40 Reviews)</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        Nearby End -->
