<div class="single_search_boxed">
  <div class="widget-boxed-header">
    <h4>
      <a href="#fptype" data-bs-toggle="collapse" aria-expanded="false" role="button" class="collapsed">Property Types<span class="selected">Apartment</span></a>
    </h4>
  </div>
  <div class="widget-boxed-body collapse" id="fptype" data-parent="#fptype">
    <div class="side-list no-border">
      <!-- Single Filter Card -->
      <div class="single_filter_card">
        <div class="card-body pt-0">
          <div class="inner_widget_link">
            <ul class="no-ul-list filter-list">
              <li class="form-check">
                <input id="c1" class="form-check-input" name="ptype" type="radio">
                <label for="c1" class="form-check-label">House</label>
              </li>
              <li class="form-check">
                <input id="c2" class="form-check-input" name="ptype" type="radio">
                <label for="c2" class="form-check-label">Office Desk</label>
              </li>
              <li class="form-check">
                <input id="c3" class="form-check-input" name="ptype" type="radio">
                <label for="c3" class="form-check-label">Villa</label>
              </li>
              <li class="form-check">
                <input id="c4" class="form-check-input" name="ptype" type="radio" checked>
                <label for="c4" class="form-check-label">Apartment</label>
              </li>
              <li class="form-check">
                <input id="c5" class="form-check-input" name="ptype" type="radio">
                <label for="c5" class="form-check-label">Condo</label>
              </li>
              <li class="form-check">
                <input id="c6" class="form-check-input" name="ptype" type="radio">
                <label for="c6" class="form-check-label">Denver</label>
              </li>
              <li class="form-check">
                <input id="c7" class="form-check-input" name="ptype" type="radio">
                <label for="c7" class="form-check-label">Studio</label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
