<div class="container-fluid">
  <%= render "blocks/form" %>
  <div>
    <%= link_to "Modificar aquesta pàgina", edit_page_path(@page) %> |
    <%= link_to "Veure totes les pàgines", pages_path %>
    <%= button_to "Esborrar aquesta pàgina", @page, method: :delete %>
  </div>
</div>
