<% if @vrates %>
  <% @vrates.each do |rate| %>
    <%= render 'rates/rate', rate: rate %>
  <% end %>
<% end %>
<% if @vrental.no_checkin.present? %>
  <p class="text-sm text-secondary font-italic fst-italic">* <%= t('no_checkin') %>: <%= t(Vrental::NO_CHECKIN[@vrental.no_checkin]) %></p>
<% end %>
