<h4 class="font-weight-bold text-primary text-center mb-2">Modificar el contracte de lloguer turístic per a <%= @vrental.name %></h4>
<hr>
<div class="container d-flex justify-content-center mt-5 pb-5">
  <%= render 'form', vrental: @vrental, vragreement: @vragreement %>
</div>
