<meta charset="UTF-8" /><meta
  name="viewport"
  content="width=device-width, initial-scale=1.0"
/>
<link
  crossorigin="anonymous"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  rel="stylesheet"
/>

<h6 class="text-center text-uppercase">
  ASOCIACIÓN DE AGENTES DE LA PROPIEDAD INMOBILIARIA DE GIRONA
</h6>

<p>&nbsp;</p>

<h5 class="text-center mb-3">
  <strong
    >ENCARGO DE COMERCIALIZACIÓN Y GESTIÓN DE VIVIENDA DE USO TURÍSTICO</strong
  >
</h5>

<div class="container mt-3">
  <div class="row p-2 bg-light border-top border-bottom">
    <div class="col-12 font-weight-bold">DATOS DEL PROPIETARIO</div>
  </div>

  <div class="row p-2 border-bottom">
    <div class="col-4">
      <strong class="d-block p-2">Nombre y apellidos:</strong>
    </div>

    <div class="col-8">
      <span class="d-block p-2">{{ propietari }}</span>
    </div>
  </div>

  <div class="row p-2 border-bottom">
    <div class="col-4"><strong class="d-block p-2">Dirección:</strong></div>

    <div class="col-8">
      <span class="d-block p-2">ADR_PROPIETARI</span>
    </div>
  </div>

  <div class="row p-2 border-bottom">
    <div class="col-4">
      <strong class="d-block p-2">Teléfono:</strong>
    </div>

    <div class="col-8">
      <span class="d-block p-2">TEL_PROPIETARI</span>
    </div>
  </div>

  <div class="row p-2 border-bottom">
    <div class="col-4"><strong class="d-block p-2">Email:</strong></div>

    <div class="col-8">
      <span class="d-block p-2">EMAIL_PROPIETARI</span>
    </div>
  </div>

  <div class="row p-2 border-bottom">
    <div class="col-4"><strong class="d-block p-2">DNI/NIF:</strong></div>

    <div class="col-8">
      <span class="d-block p-2">DNI_PROPIETARI</span>
    </div>
  </div>

  <div class="row p-2">
    <div class="col-4">
      <strong class="d-block p-2">Cuenta bancaria:</strong>
    </div>

    <div class="col-8">
      <span class="d-block p-2">COMPTE_BANCARI_PROPIETARI</span>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row p-2 bg-light border-top border-bottom">
    <div class="col-12 font-weight-bold">
      DATOS DE LA VIVIENDA DE USO TURÍSTICO
    </div>
  </div>

  <div class="row p-2 border-bottom">
    <div class="col-4">
      <strong class="d-block p-2">Nombre inmueble:</strong>
    </div>

    <div class="col-8">{{ nom_immoble }}</div>
  </div>

  <div class="row p-2 border-bottom">
    <div class="col-4">
      <strong class="d-block p-2">Dirección inmueble:</strong>
    </div>

    <div class="col-8">{{ adr_immoble }}</div>
  </div>

  <div class="row p-2 border-bottom">
    <div class="col-4">
      <strong class="d-block p-2">Ref. catastral:</strong>
    </div>

    <div class="col-8">{{ cadastre }}</div>
  </div>

  <div class="row p-2 border-bottom">
    <div class="col-4">
      <strong class="d-block p-2">Cédula de habitabilidad:</strong>
    </div>

    <div class="col-8">{{ cedula }}</div>
  </div>

  <div class="row p-2 border-bottom">
    <div class="col-4">
      <strong class="d-block p-2">Licencia turística:</strong>
    </div>

    <div class="col-8">{{ num_HUT }}</div>
  </div>

  <div class="row p-2">
    <div class="col-12">
      <strong class="d-block">Fechas reservadas por el propietario:</strong>
    </div>
  </div>

  <div class="row p-2">
    <div class="col-12">{{ reserves_propietari }}</div>
  </div>
</div>

<div class="container">
  <div class="row p-2 bg-light border-top border-bottom">
    <div class="col-12 font-weight-bold">
      AUTORIZACIÓN CESIÓN A FAVOR DE INVERSTACH, S.L.U.
    </div>
  </div>

  <div class="row p-2">
    <div class="col-12 d-block p-2">
      <p>
        El propietario que suscribe declara tener la libre disposición de la
        vivienda y la cede en exclusividad a INVERSTACH, S.L.U, con despacho
        profesional en c/Església, 34 bajos, 17258 L'Estartit (Girona), con el
        C.I.F. B66577537, inscrito en el Registro de Agentes Inmobiliarios de
        Cataluña (AICAT) con el número 6541, colegiado/asociado número 1009 del
        Colegio/Asociación de Agentes de la Propiedad Inmobiliaria de Girona
        (COAPI Girona), a los efectos de comercialización y gestión como
        vivienda de uso turístico en régimen de alquiler. El presente encargo
        profesional se regirá por las presentes condiciones particulares, por
        las condiciones generales que se adjuntan al presente documento y por la
        normativa específica del sector.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row p-2 bg-light border-top border-bottom">
    <div class="col-12 font-weight-bold">
      I – Período del alquiler y precios de venta al público:
    </div>
  </div>

  <div class="row p-2">
    <div class="col-12 d-block p-2">{{ tarifes }}</div>
  </div>
</div>

<div class="container">
  <div class="row p-2 bg-light border-top border-bottom">
    <div class="col-12 font-weight-bold">
      II – Honorarios de Inverstach, S.L.U.
    </div>
  </div>

  <div class="row p-2">
    <div class="col-12 d-block p-2">
      <p>
        Del precio convenido con el propietario para cada alquiler, Inverstach,
        S.L.U. deducirá sus honorarios, que son de un
        <strong>{{ comissio }}%</strong>&nbsp;más el IVA correspondiente y por
        tanto el propietario <strong>{{ propietari }}</strong><b> </b>autoriza a
        compensarlo a la hora de liquidar los importes recibidos. Están ya
        incluidas en los honorarios pactados las necesarias para su
        comercialización como alquiler turístico, como son: limpieza después de
        cada estancia, comprobaciones e inventarios del inmueble, publicidad,
        etc. El Agente consignará en las facturas que emita a sus clientes, de
        manera diferenciada de la contraprestación por sus servicios, el importe
        de la cuota del impuesto sobre las estancias en establecimientos
        turísticos (tasa turística), con indicación del número de unidades y del
        tipo de gravamen aplicado, si así lo pacta con el propietario. El Agente
        cuidará en la forma y tiempo establecido por la Administración de
        liquidar e ingresar las cuotas tributarias resultantes del impuesto
        sobre las estancias en establecimientos turísticos.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row p-2 bg-light border-bottom">
    <div class="col-12 font-weight-bold">
      III – La liquidación de los alquileres
    </div>
  </div>

  <div class="row p-2 border-bottom">
    <div class="col-12 d-block p-2">
      La liquidación al propietario de los alquileres efectuados, terminada la
      temporada, se efectuará mediante transferencia bancaria o cheque bancario
      en las oficinas del administrador.
    </div>
  </div>
</div>

<div class="container">
  <div class="row p-2 bg-light border-top border-bottom">
    <div class="col-12 font-weight-bold">IV – Condiciones Particulares</div>
  </div>

  <div class="row p-2">
    <div class="col-12 d-block p-2">
      <p>
        El propietario se compromete a entregar a Inverstach, S.L.U. la
        propiedad en perfectas condiciones al inicio del período pactado para el
        alquiler, así como Inverstach S.L.U. garantiza la entrega de la misma en
        perfectas condiciones al finalizar el contrato. El propietario cede los
        derechos de imagen de su propiedad y autoriza a Inverstach, S.L.U. a
        hacer uso de ella para su promoción comercial, así como también cederlos
        a terceras partes. El propietario manifiesta y expresa tácitamente que
        la propiedad dispone de la cédula de habitabilidad correspondiente, y
        exonera a Inverstach, S.L.U. de cualquier responsabilidad al respecto.
        En el caso de que el inmueble no disponga del número de HUT, el
        propietario cede a Inverstach, S.L.U. la inscripción de su propiedad en
        el registro correspondiente, según el Decreto de Establecimientos de
        Alojamiento Turístico y Viviendas de Uso Turístico.
      </p>

      <p>{{ clausula_adicional }}</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row p-2 bg-light border-top border-bottom">
    <div class="col-12 font-weight-bold">Descripción inmueble</div>
  </div>

  <div class="row p-2">
    <div class="col-12 d-block p-2">
      <p>{{ descripcio }}</p>

      <p>{{ carac_immoble }}</p>
    </div>
  </div>
</div>

<div class="container" style="page-break-before: always">
  <h5 class="text-center font-weight-bold">CONDICIONES GENERALES</h5>

  <p>
    <span
      ><strong>PRIMERA</strong>.- La presente autorización lleva implícitamente
      el mandato expreso y las facultades necesarias a favor de Inverstach, SLU
      para comercializar y gestionar la vivienda objeto de la cesión, y en esta
      condición, arrendarla y cederla a terceros como vivienda de uso turístico,
      y en general, realizar cualquier acto de administración que sea coherente
      y necesario con el objeto de la cesión y la finalidad de este contrato que
      no es otra que la explotación comercial del mismo utilizando los medios y
      servicios que ofrece.</span
    >
  </p>

  <p>
    <span
      ><strong>SEGUNDA</strong>.- Durante el período indicado, el cesionario
      Inverstach, SLU, tendrá la plena y efectiva disponibilidad de la vivienda.
      En el supuesto de que durante este período, interese al propietario hacer
      un uso personal de la vivienda, incompatible con su explotación comercial,
      será necesario contactar previamente con Inverstach, SLU para verificar si
      la vivienda está disponible y en caso de venta o transmisión a terceras
      personas, el propietario transmitente, está obligado a respetar los
      compromisos asumidos por Inverstach, SLU. El propietario tiene la
      obligación de poner la vivienda a disposición de Inverstach, SLU, 7 días
      antes de la llegada del primer cliente, para poder verificar que todo está
      correcto y en otro caso, corregirlo y subsanarlo. El presente encargo es
      esencialmente revocable por parte del propietario pero este siempre estará
      obligado a respetar las contrataciones y reservas hechas por el
      profesional en uso de las facultades conferidas y, en todo caso, si el
      propietario no quisiera respetarlas, a modo de cláusula penal libremente
      consentida por las partes, deberá abonar una indemnización a favor del
      profesional gestor de 2.000,00 € euros.</span
    >
  </p>

  <p>
    <span
      ><strong>TERCERA</strong>.- El propietario se compromete a realizar las
      reparaciones y los trabajos necesarios para conservar y entregar la
      vivienda a principios de temporada en perfectas condiciones de
      habitabilidad, servicios y limpieza para su uso, incluida la primera
      limpieza completa de cada inicio de temporada. Se prestará especial
      atención a cambiar los muebles que se hayan deteriorado como consecuencia
      del uso continuado y siempre se procurará mejorar el equipamiento
      doméstico de la vivienda. Se faculta a Inverstach, SLU para que pueda
      eliminar o completar el material o utensilios que se tengan que sustituir
      durante la vigencia del presente contrato, como consecuencia de su estado
      deteriorado o olvido del propietario en su reposición, así como realizar
      los pequeños trabajos de reparación y mantenimiento, siendo estos gastos a
      cargo del propietario. Los desperfectos ocasionados en la vivienda y que
      sean debidos a un mal uso o negligencia del arrendatario, serán por cuenta
      de este, comprometiéndose Inverstach, SLU a realizar lo necesario para
      efectuar la reposición o la reparación y cobrar al arrendatario el importe
      del desperfecto.</span
    >
  </p>
  <p>
    <span
      ><strong>CUARTA</strong>.- El alojamiento se alquilará amueblado y
      equipado; en caso de contar con el servicio, los gastos de consumo de agua
      y electricidad serán responsabilidad del propietario, así como todos los
      gastos e impuestos derivados de la propiedad de la vivienda (Comunidad de
      Propietarios, en su caso, IBI, etc.). En el momento de la contratación, al
      principio de cada temporada, el propietario deberá adjuntar una copia de
      la póliza de seguro obligatoria del apartamento.</span
    >
  </p>

  <p>
    <span
      ><strong>QUINTA</strong>.- A finales de la temporada de verano, a partir
      del 1 de octubre, el cesionario Inverstach, SLU liquidará al propietario
      los alquileres efectuados, en base a los precios que figuran en el
      apartado de condiciones particulares del presente contrato. En el caso de
      que el propietario desee un adelanto de los mismos, esto podrá realizarse
      a petición del propietario, una vez se haya efectuado la primera entrada
      del primer alquiler de la temporada, y el importe máximo a entregar será
      del 60% del total del precio a percibir por parte del propietario.</span
    >
  </p>

  <p>
    <span
      ><strong>SEXTA</strong>.- Después de la salida del último arrendatario, el
      propietario dispone de quince días hábiles para reclamar a Inverstach, SLU
      cualquier desperfecto o incidencia en la propiedad; transcurrido este
      período, el propietario exime a Inverstach, SLU de cualquier
      responsabilidad. De igual manera, Inverstach, SLU asume la responsabilidad
      de lo que ocurra dentro de la propiedad, después de la entrada del primer
      cliente y no antes.</span
    >
  </p>

  <p>
    <span
      ><strong>SÉPTIMA</strong>.- Los alquileres que se efectúen serán siempre
      alquileres de viviendas de uso turístico y, en consecuencia, estarán
      sujetos a la legislación específica catalana en esta materia. De manera
      subsidiaria, se aplicará el Código Civil, quedando expresamente excluido
      del ámbito de la Ley de Arrendamientos Urbanos. En el supuesto de que el
      propietario no resida en España, declara estar informado de las
      obligaciones fiscales establecidas en la legislación española derivadas de
      los ingresos de una vivienda en régimen de alquiler. El propietario
      cedente declara bajo su responsabilidad que, en el caso de propiedades
      regidas por el sistema de Comunidades de Propietarios, esta no contiene en
      sus Estatutos ninguna norma que prohíba el uso turístico o la explotación
      comercial del apartamento. En caso de que la Comunidad de Propietarios
      modifique sus Estatutos prohibiendo la actividad turística o la
      explotación comercial del apartamento y la orden se haga efectiva,
      impidiendo su explotación normal, el propietario indemnizará al cesionario
      con todos los gastos útiles ocasionados en la publicidad y
      comercialización de la vivienda, así como en las reclamaciones por daños y
      perjuicios que los clientes arrendatarios pudieran presentar, en su
      caso.</span
    >
  </p>

  <p>
    <span
      ><strong>OCTAVA</strong>.- En caso de producirse la cancelación de una
      reserva, las indemnizaciones no devueltas o retenidas al cliente sobre el
      depósito de la reserva efectuado (20%) serán compartidas al 50% entre la
      Agencia y el propietario, con el fin de compensar los gastos de la Agencia
      en publicidad y gestiones previas, como la formalización de la reserva
      misma.</span
    >
  </p>

  <p>
    <span
      ><strong>NOVENA</strong>.- En el Anexo adjunto, que forma parte
      inseparable del presente contrato, las partes hacen constar el
      equipamiento mínimo de la vivienda, tanto en lo que respecta al mobiliario
      como a los electrodomésticos, y además se incorpora gráficamente mediante
      fotografías a color.</span
    >
  </p>

  <p>
    <span
      ><strong>DÉCIMA</strong>.- El arrendador manifiesta conocer todas las
      obligaciones tributarias en relación al arrendamiento del mencionado
      inmueble, y en particular lo dispuesto en el Real Decreto Legislativo
      5/2004 de 5 de mayo, que regula el Impuesto sobre la Renta de los No
      Residentes. La entidad que gestiona el inmueble objeto de arrendamiento
      actúa como mera intermediaria en el pago a efectos de la responsabilidad
      del impuesto, de acuerdo con lo dispuesto en el artículo 9.2 del Real
      Decreto Legislativo 5/2004, de 5 de mayo, que regula el Impuesto de la
      Renta de los No Residentes.</span
    >
  </p>

  <div class="container">
    <div class="row">
      <div class="col-12 font-italic text-right">
        <span>{{ data_firma }}, {{ lloc_firma }} </span>
      </div>
    </div>

    <div class="row border bg-light text-center font-weight-bold">
      <div class="col-6 p-2 border-right">Agencia - Inverstach s.l.</div>

      <div class="col-6 p-2">El Propietario - {{ propietari }}</div>
    </div>

    <div class="row border-bottom" style="height: 150px">
      <div class="col-6 p-2 border-left border-right">&nbsp;</div>

      <div class="col-6 p-2 border-right">&nbsp;</div>
    </div>
  </div>
</div>
