<meta charset="UTF-8" /><meta
  name="viewport"
  content="width=device-width, initial-scale=1.0"
/>
<link
  crossorigin="anonymous"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  rel="stylesheet"
/>

<h6 class="text-center text-uppercase">
  ASSOCIATION OF REAL ESTATE AGENTS OF GIRONA
</h6>

<p>&nbsp;</p>

<h5 class="text-center mb-3">
  <strong>PROPERTY MANAGEMENT AND COMMERCIALIZATION AGREEMENT</strong>
</h5>

<div class="container mt-3">
  <div class="row p-2 bg-light border-top border-bottom">
    <div class="col-12 font-weight-bold">PROPERTY OWNER</div>
  </div>

  <div class="row p-2 border-bottom">
    <div class="col-4">
      <strong class="d-block p-2">Name and surname:</strong>
    </div>

    <div class="col-8">
      <span class="d-block p-2">{{ propietari }}</span>
    </div>
  </div>

  <div class="row p-2 border-bottom">
    <div class="col-4"><strong class="d-block p-2">Address:</strong></div>

    <div class="col-8">
      <span class="d-block p-2">ADR_PROPIETARI</span>
    </div>
  </div>

  <div class="row p-2 border-bottom">
    <div class="col-4">
      <strong class="d-block p-2">Phone number:</strong>
    </div>

    <div class="col-8">
      <span class="d-block p-2">TEL_PROPIETARI</span>
    </div>
  </div>

  <div class="row p-2 border-bottom">
    <div class="col-4"><strong class="d-block p-2">Email:</strong></div>

    <div class="col-8">
      <span class="d-block p-2">EMAIL_PROPIETARI</span>
    </div>
  </div>

  <div class="row p-2 border-bottom">
    <div class="col-4">
      <strong class="d-block p-2">ID/Passport nº:</strong>
    </div>

    <div class="col-8">
      <span class="d-block p-2">DNI_PROPIETARI</span>
    </div>
  </div>

  <div class="row p-2">
    <div class="col-4">
      <strong class="d-block p-2">Bank account nº:</strong>
    </div>

    <div class="col-8">
      <span class="d-block p-2">COMPTE_BANCARI_PROPIETARI</span>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row p-2 bg-light border-top border-bottom">
    <div class="col-12 font-weight-bold">RENTAL PROPERTY INFORMATION</div>
  </div>

  <div class="row p-2 border-bottom">
    <div class="col-4">
      <strong class="d-block p-2">Property name:</strong>
    </div>

    <div class="col-8">{{ nom_immoble }}</div>
  </div>

  <div class="row p-2 border-bottom">
    <div class="col-4">
      <strong class="d-block p-2">Property address:</strong>
    </div>

    <div class="col-8">{{ adr_immoble }}</div>
  </div>

  <div class="row p-2 border-bottom">
    <div class="col-4">
      <strong class="d-block p-2">Cadastral Certificate:</strong>
    </div>

    <div class="col-8">{{ cadastre }}</div>
  </div>

  <div class="row p-2 border-bottom">
    <div class="col-4">
      <strong class="d-block p-2">Occupancy Certificate:</strong>
    </div>

    <div class="col-8">{{ cedula }}</div>
  </div>

  <div class="row p-2 border-bottom">
    <div class="col-4">
      <strong class="d-block p-2">Tourist Licence:</strong>
    </div>

    <div class="col-8">{{ num_HUT }}</div>
  </div>

  <div class="row p-2">
    <div class="col-12">
      <strong class="d-block"
        >Dates reserved for property owner's personal use:</strong
      >
    </div>
  </div>

  <div class="row p-2">
    <div class="col-12">{{ reserves_propietari }}</div>
  </div>
</div>

<div class="container">
  <div class="row p-2 bg-light border-top border-bottom">
    <div class="col-12 font-weight-bold">
      LEASING AND MANAGING AUTHORITY TO INVERSTACH, S.L.U.
    </div>
  </div>

  <div class="row p-2">
    <div class="col-12 d-block p-2">
      <p>
        The subscribing owner declares to have free disposal of the property and
        exclusively assigns it to INVERSTACH, S.L.U., with offices at Avinguda
        Grècia 39, ground floor, 17528 L'Estartit, with Tax Identification
        Number B66577537, registered in the Registry of Real Estate Agents of
        Catalonia (AICAT) under number 6541, and as a member/associate number
        1009 of the College/Association of Real Estate Agents of Girona (COAPI
        Girona), for the purpose of marketing and management as a tourist rental
        property. This professional assignment will be governed by the specific
        terms and conditions outlined in this document, the general conditions
        attached hereto, and the specific regulations of the sector.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row p-2 bg-light border-top border-bottom">
    <div class="col-12 font-weight-bold">
      I – Holiday rental Rates (Retail prices):
    </div>
  </div>

  <div class="row p-2">
    <div class="col-12 d-block p-2">{{ tarifes }}</div>
  </div>
</div>

<div class="container">
  <div class="row p-2 bg-light border-top border-bottom">
    <div class="col-12 font-weight-bold">II – Inverstach, S.L.U. fees</div>
  </div>

  <div class="row p-2">
    <div class="col-12 d-block p-2">
      <p>
        Regarding the agreed-upon price with the owner for each rental period,
        Inverstach, S.L.U. will deduct its fees, which amount to
        <strong>{{ comissio }}%</strong> plus the corresponding VAT. Therefore,
        the owner <strong>{{ propietari }}</strong> authorizes the deduction at
        the time of settling the payments received. The fees agreed upon already
        include the necessary services for its marketing as a tourist rental,
        such as cleaning after each stay, property checks and inventories,
        advertising, etc. The Agent will itemize the tourist tax in the invoices
        issued to their clients separately from the consideration for their
        services. This will include the tax rate applied and the number of
        units, if agreed upon with the owner. The Agent will also ensure
        compliance with the tax authorities' requirements for the settlement and
        payment of the tourist tax.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row p-2 bg-light border-bottom">
    <div class="col-12 font-weight-bold">III – Rental Payments Settlement</div>
  </div>

  <div class="row p-2 border-bottom">
    <div class="col-12 d-block p-2">
      The holiday rentals payments settlement will be cleared at the end of the
      holiday season - generally at the beginning of October, and the payment
      will be made by bank transfer to the Property Owner's bank account.
    </div>
  </div>
</div>

<div class="container">
  <div class="row p-2 bg-light border-top border-bottom">
    <div class="col-12 font-weight-bold">IV – Condiciones Particulares</div>
  </div>

  <div class="row p-2">
    <div class="col-12 d-block p-2">
      <p>
        The owner commits to delivering the property to Inverstach, S.L.U. in
        perfect condition at the beginning of the agreed-upon rental period, and
        Inverstach, S.L.U. guarantees the property's delivery in perfect
        condition at the end of the contract. The owner assigns the image rights
        of their property and authorizes Inverstach, S.L.U. to use it for
        commercial promotion, as well as to transfer them to third parties. The
        owner explicitly states that the property has the corresponding
        habitability certificate and exempts Inverstach, S.L.U. from any
        liability in this regard. In the event that the property does not have
        the HUT number, the owner grants Inverstach, S.L.U. the authority to
        register their property in the corresponding registry, as per the
        Tourism Accommodation Establishments and Tourist Use Housing Decree.
      </p>

      <p>{{ clausula_adicional }}</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row p-2 bg-light border-top border-bottom">
    <div class="col-12 font-weight-bold">Rental Property Description</div>
  </div>

  <div class="row p-2">
    <div class="col-12 d-block p-2">
      <p>{{ descripcio }}</p>

      <p>{{ carac_immoble }}</p>
    </div>
  </div>
</div>

<div class="container" style="page-break-before: always">
  <h5 class="text-center font-weight-bold">GENERAL CONDITIONS</h5>

  <p>
    <span
      ><strong>FIRST</strong>.- This authorization implicitly includes the
      express mandate and necessary powers in favor of Inverstach, SLU to market
      and manage the property subject to the assignment, and in this capacity,
      lease it and transfer it to third parties as a tourist rental property,
      and in general, perform any act of administration that is consistent and
      necessary for the purpose of the assignment and the purpose of this
      contract, which is none other than its commercial exploitation using the
      means and services it offers.</span
    >
  </p>

  <p>
    <span
      ><strong>SECOND</strong>.- During the specified period, the assignee
      Inverstach, SLU, will have full and effective use of the property. In the
      event that during this period, the owner wishes to use the property
      personally, which is incompatible with its commercial exploitation, it
      will be necessary to contact Inverstach, SLU in advance to verify if the
      property is available. In case of sale or transfer to third parties, the
      transferring owner is obliged to respect the commitments made by
      Inverstach, SLU. The owner is obliged to make the property available to
      Inverstach, SLU, 7 days before the arrival of the first client, in order
      to verify that everything is in order. In any case, this professional
      assignment is essentially revocable by the owner, but the owner is always
      obliged to respect the contracts and reservations made by the professional
      using the conferred powers, and in any case, if the owner does not wish to
      respect them, as a freely consented penalty clause, they must pay
      compensation to the professional manager of €2,000.00 euros.</span
    >
  </p>

  <p>
    <span
      ><strong>THIRD</strong>.- The owner undertakes to carry out the necessary
      repairs and work to keep the property in perfect conditions of
      habitability, services, and cleanliness at the beginning of the season for
      use, including the initial complete cleaning at the beginning of each
      season. Special attention will be paid to replacing furniture that has
      deteriorated as a result of continuous use, and efforts will always be
      made to improve the household equipment of the property. Inverstach, SLU
      is authorized to remove or replace materials or utensils during the term
      of this contract due to their deteriorated condition or the owner's
      failure to replace them, as well as to carry out minor repair and
      maintenance work, with these expenses being borne by the owner. Any damage
      to the property caused by the tenant's misuse or negligence will be the
      tenant's responsibility, and Inverstach, SLU undertakes to make the
      necessary replacements or repairs and charge the tenant for the cost of
      the damage.</span
    >
  </p>
  <p>
    <span
      ><strong>FOURTH</strong>.- The accommodation will be rented furnished and
      equipped; in the case of having utility services, the costs of water and
      electricity consumption will be the responsibility of the owner, as well
      as all expenses and taxes derived from the ownership of the property
      (Community of Owners, if applicable, property tax, etc.). At the time of
      contracting, at the beginning of each season, the owner must provide a
      copy of the mandatory insurance policy for the apartment.</span
    >
  </p>

  <p>
    <span
      ><strong>FIFTH</strong>.- At the end of the summer season, starting from
      October 1st, the assignee Inverstach, SLU will settle with the owner the
      rentals made, based on the prices listed in the specific conditions
      section of this contract. In case the owner desires an advance payment,
      this can be done at the owner's request, once the first rental of the
      season has been received, and the maximum amount to be delivered will be
      60% of the total price to be received by the owner.</span
    >
  </p>

  <p>
    <span
      ><strong>SIXTH</strong>.- After the departure of the last tenant, the
      owner has fifteen business days to report any damage or issues with the
      property to Inverstach, SLU; after this period, the owner releases
      Inverstach, SLU from any liability. Similarly, Inverstach, SLU assumes
      responsibility for anything that happens within the property after the
      arrival of the first client and not before.</span
    >
  </p>

  <p>
    <span
      ><strong>SEVENTH</strong>.- The rentals that are made will always be
      rentals for tourist use, and consequently, they will be subject to the
      specific Catalan legislation in this matter. Subsidiarily, the Civil Code
      will apply, with the Urban Leases Law being expressly excluded. In the
      event that the owner does not reside in Spain, they declare that they are
      aware of the tax obligations established in Spanish law resulting from the
      income of a property under a rental regime. The transferring owner
      declares under their responsibility that, in the case of properties
      governed by the system of Community of Owners, it does not contain any
      rules in its Statutes that prohibit tourist use or commercial exploitation
      of the apartment. In the event that the Community of Owners amends its
      Statutes to prohibit tourist activity or commercial exploitation of the
      apartment, and the order becomes effective, preventing its normal
      exploitation, the owner will compensate the assignee for all useful
      expenses incurred in advertising and marketing the property, as well as
      for claims for damages and losses that tenant clients may present, if
      applicable.</span
    >
  </p>

  <p>
    <span
      ><strong>EIGHTH</strong>.- In the event of a reservation cancellation, the
      non-refunded or withheld compensations from the client's reservation
      deposit (20%) will be shared 50% between the Agency and the owner, in
      order to compensate the Agency for advertising and prior arrangements
      expenses, such as the reservation itself.</span
    >
  </p>

  <p>
    <span
      ><strong>NINTH</strong>.- In the attached Annex, which is an integral part
      of this contract, the parties specify the minimum equipment of the
      property, both in terms of furniture and appliances, and it is also
      graphically depicted through color photographs.</span
    >
  </p>

  <p>
    <span
      ><strong>TENTH</strong>.- The lessor states that they are aware of all tax
      obligations related to the lease of the mentioned property, and in
      particular, the provisions of Royal Legislative Decree 5/2004 of May 5,
      which regulates the Income Tax of Non-Residents. The entity managing the
      leased property acts as a mere intermediary in the payment for tax
      purposes, in accordance with Article 9.2 of Royal Legislative Decree
      5/2004, of May 5, which regulates the Income Tax of Non-Residents.</span
    >
  </p>

  <div class="container">
    <div class="row">
      <div class="col-12 font-italic text-right">
        <span>{{ data_firma }}, {{ lloc_firma }} </span>
      </div>
    </div>

    <div class="row border bg-light text-center font-weight-bold">
      <div class="col-6 p-2 border-right">Agency - Inverstach s.l.</div>

      <div class="col-6 p-2">The Owner - {{ propietari }}</div>
    </div>

    <div class="row border-bottom" style="height: 150px">
      <div class="col-6 p-2 border-left border-right">&nbsp;</div>

      <div class="col-6 p-2 border-right">&nbsp;</div>
    </div>
  </div>
</div>
