<h1>Afegir un contracte turístic nou per <%= @vrental.name %> </h1>
<% if @vrowner %>
  <p>Propietari: <%= @vrowner.fullname %></p>
<% end %>


<%= render 'form', vrental: @vrental, vragreement: @vragreement %>

<div class="pt-4">
<%= link_to 'Tornar', vragreements_path, class: 'btn btn-info' %>
</div>
