<h1>Afegir un contracte turístic nou per <%= @vrental.name %> </h1>
<p>Propietari: <%= @vrental.vrowner.fullname %></p>


<%= render 'form', vrental: @vrental, vragreement: @vragreement %>

<div class="pt-4">
<%= link_to 'Tornar', vragreements_path, class: 'btn btn-back' %>
</div>
