
<%= link_to 'Contracte en PDF', vragreement_path(@vragreement, format: :pdf), class: "btn btn-confirm" %>

<div class="page">
  <%= sanitize @vrcontrato %>
</div>
<% @vragreement.photos.each do |photo| %>
<%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
