<p>This website is for personal and private use only. Any distribution, modification, transformation, extraction, public display, and/or other activity is strictly prohibited unless expressly authorized by Inverstach SL.</p>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">GENERAL BOOKING CONDITIONS L'ESTARTIT</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">GENERAL BOOKING CONDITIONS BARCELONA</button>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <div class="content">
      <h4>Check-in and check-out:</h4>
      <p>Guest reception is done at our office, at Església Street, 34, ground floor, 17258 Estartit. Check-in time is from 4:00 PM to 10:00 PM. We will provide you with the keys and a map to your apartment. Regular check-in time: 3:00 PM - 7:00 PM. Check-out: before 10:00 AM.</p>
      <h4>Use of the properties:</h4>
      <p>The client agrees to preserve and take care of the apartment, as well as all its contents, in perfect condition. An inspection will be carried out upon entry and exit to ensure that everything is left as it was found. Right of admission reserved.</p>
      <h4>Cleaning policy:</h4>
      <p>The properties are cleaned and prepared by cleaning staff before your arrival. Daily cleaning service is not included in the price but can be arranged as an additional service.</p>
      <h4>Noise policy:</h4>
      <p>Although you are a temporary tenant, please be respectful of your neighbors, especially in the hallways.</p>
      <h4>Cancellation policy:</h4>
      <p>We charge a 30% prepayment to secure the reservation. If proper notice is given up to 30 days before arrival, we will refund your initial payment. If you cancel 29 or fewer days before arrival, the 30% prepayment will not be refunded.</p>
      <h4>Reservation confirmation:</h4>
      <p>Booking confirmations are generated automatically on the screen when the user accepts the reservation and are also sent by email after the booking. There is a possibility that this confirmation may end up in the user's 'spam' folder, so the user, in case of not receiving this email, should check all email folders. We recommend printing or saving this confirmation in PDF format when you complete your reservation.</p>
      <h4>The company: Inverstach SL</h4>
      <p>Registered address: c/ Roser 1, 1-2, 08600 Berga</p>
      <p>Office address in Estartit: c/Església, 34, ground floor, 17528 Estartit</p>
      <p>VAT ID: B66577537</p>
      <p>API 1009 / AICAT 6541 / AF COL 920</p>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <div class="content">
      <h4>Check-in and check-out:</h4>
      <p>As there is no permanent reception at the apartment building, we need to know the approximate time of your arrival to come to the apartment on time and welcome you. If you arrive by plane, it would be very helpful if you could provide us with your flight number and if you intend to take a taxi, bus, or train from the airport (so we can estimate the approximate arrival time).</p>
      <h4>Our schedule:</h4>
      <p>Check-in: 4:00 PM – 11:00 PM; Check-out: before 12:00 PM (noon)</p>
      <h4>Early check-in:</h4>
      <p>If you arrive before 4:00 PM: from 12:30 PM (not earlier), you can leave your luggage in the apartment itself. If the apartment is already cleaned and ready, we will be happy to check you in and let you in, but this is not always possible. In case the apartment needs cleaning, you can leave your luggage, pick up the keys, and then return to the apartment from 4:00 PM onwards.</p>
      <h4>Late check-in:</h4>
      <p>(after 11:00 PM) is possible only until 2:00 AM. If you arrive after 11:00 PM, a surcharge must be paid: 11:00 PM-12:00 AM: €20, 12:00 AM-01:00 AM: €30, 01:00 AM-02:00 AM: €50 (to be paid upon arrival).</p>
      <h4>Apartment rules:</h4>
      <p>Guests are required to make proper use of the apartment and its facilities. An inspection of the apartment will be carried out before entry and after the departure of each guest to confirm that everything is in good condition. Right of admission reserved.</p>
      <h4>Cleaning policy:</h4>
      <p>Our apartments are cleaned and prepared with bed linen and towels before each guest's arrival. Daily cleaning service is not included in the price but can be arranged as an additional service with an extra charge.</p>
      <h4>Good neighbor policy:</h4>
      <p>Guests are required to respect the peace and quiet of the neighbors, especially during rest hours, from 10:00 PM to 8:00 AM.</p>
      <h4>Reservation confirmation:</h4>
      <p>Booking confirmations are generated automatically on the screen when the user accepts the reservation and are also sent by email after the booking. There is a possibility that this confirmation may end up in the user's 'spam' folder, so the user, in case of not receiving this email, should check all email folders. We recommend printing or saving this confirmation in PDF format when you complete your reservation.</p>
      <h4>The company: ILLA CATALANA S.L.</h4>
      <p>VAT ID: ESB65826471, Registered address: c/ Roser 1, 1-2, 08600 Berga, Barcelona, Spain
        . Commercial Register of Barcelona, volume: 43245 (119/428872).</p>
    </div>
  </div>
</div>
