<h4 class="font-weight-bold text-primary text-center mb-2"><%= t('edit_owner_booking') %> <%= @vrental.name %></h4>
<hr>
<div class="container-fluid mt-5 pb-5 w-50">
  <%= render 'form', owner_booking: @owner_booking %>
</div>
