<%= link_to t('new_owner_booking'), new_vrental_owner_booking_path(@vrental), class: "btn btn-primary mb-3" %>
<div id="calendar" data-bookings-on-calendar-path="<%= bookings_on_calendar_vrental_path(@vrental) %>"></div>
<div class="modal fade" id="ownerBooking" tabindex="-1" aria-labelledby="ownerBookingLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="<%= t('close') %>"></button>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
