<div class="container">
  <div class="card-deck mb-3">
    <section>
      <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center mb-4 box-shadow">
          <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0 rounded-4" src="https://res.cloudinary.com/dlzusxobf/image/upload/v1668032336/undraw_access_account_re_8spm_mpntom.svg" alt="Iniciar sessió" /></div>
          <div class="col-md-6">
            <h6><%= t(".sign_in") %></h6>
            <%= render 'shared/login_form' %>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
