<h4 class="font-weight-bold text-primary text-center mb-2">Afegir un grup nou (HUTs)</h4>
<hr>
<p>Grups son per guardar fotos o textos comuns de un grup d'apartaments que es poden importar facilment al crear un nou immoble</p>
<%= render 'form', vrgroup: @vrgroup %>
