<div id="<%= dom_id cleaning_plan %>">
  <p>
    <strong>Cleaning company:</strong>
    <%= cleaning_plan.cleaning_company %>
  </p>
  <p>
    <strong>From:</strong>
    <%= cleaning_plan.from %>
  </p>
  <p>
    <strong>To:</strong>
    <%= cleaning_plan.to %>
  </p>
</div>
