        
<p class="card-text">
  <strong>Oficina:</strong>
  <%= @vrental.office.name if @vrental.office %>
</p>
<p class="card-text">
  <strong>Clau secreta Beds24:</strong>
  <%= @vrental.prop_key %>
</p>
<p class="card-text">
  <strong>Referencia Beds24:</strong>
  <%= @vrental.beds_room_id %>
</p>
