<% @vrental.admin_attr.each do |attr_name, attr_value| %>
  <div class="col-6 border-end border-bottom">
    <%= t("activerecord.attributes.vrental.#{attr_name}") %>
  </div>
  <div class="col-6 border-bottom">
    <%= attr_value %>
  </div>
<% end %>
