<div class="nested-fields">
  <div class="d-flex flex-row align-items-center mb-3 border rounded p-4 mb-4">
    <div class="col-md-9">
      <%= f.select :bathroom_type, options_for_select(Bathroom::BATHROOM_TYPES.map { |type| [t("bathroom_types.#{type}"), type] }, selected: f.object.bathroom_type), { prompt: t("select_bathroom_type") }, class: "form-select" %>
    </div>
    <div class="col-md-3 ms-2">
      <%= link_to_remove_association f, class: "text-sm text-danger d-flex align-items-center" do %>
        <i class="fa-solid fa-trash-can text-danger me-2"></i> <span class="d-none d-lg-block"><%= t('delete_bathroom') %></span>
      <% end %>
    </div>
  </div>
</div>
