<div class="nested-fields">
  <div class="card shadow p-4 bg-light border rounded d-flex flex-row">
    <div class="d-flex flex-row align-items-center">
      <div class="col-md-8">
        <%= f.select :bed_type, options_for_select(Bed::BED_TYPES.keys.map { |type| [t("bed_types.#{type}"), type] }, selected: f.object.bed_type), { prompt: t("select_bed_type") }, class: "form-select" %>
      </div>
      <div class="col-md-4 d-flex justify-content-end ms-2">
        <%= link_to_remove_association f, class: "text-sm text-danger d-flex align-items-center" do %>
          <i class="fa-solid fa-trash-can text-danger me-2"></i> <span class="d-none d-lg-block"><%= t('delete_bed') %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
