<div class="modal fade" id="editModalVrowner" tabindex="-1" aria-labelledby="editModalVrownerLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <input type="hidden" id="formTypeInput">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalVrownerLabel">Modificar propietari <%= @vrental.vrowner.fullname %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Tancar"></button>
      </div>
      <div class="modal-body" id="vrowner-form-content">
        <%= render "vrowners/form", vrowner: @vrental.vrowner %>
      </div>
    </div>
  </div>
</div>
