<div class="modal fade" id="newModalOwner" tabindex="-1" aria-labelledby="newModalOwnerLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <input type="hidden" id="formTypeInput">
      <div class="modal-header">
        <h5 class="modal-title" id="newModalOwnerLabel">Afegir propietari nou</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Tancar"></button>
      </div>
      <div class="modal-body" id="owner-form-content">
        <%= render "owners/form", owner: Owner.new %>
      </div>
    </div>
  </div>
</div>
