<hr>
<h4 class="mt-4 font-weight-bold text-primary text-center">Modificar <%= @vrental.name %></h4>
<hr>
<div class="container d-flex justify-content-center mt-5 w-75 pb-5">
  <%= render 'form', vrental: @vrental %>
</div>
