<div class="container">
  <h4 class="font-weight-bold text-primary text-center mb-2"><%= t('edit_property') %></h4>
  <h4 class="font-weight-bold text-primary text-center mb-2"><%= @vrental.name %></h4>
  <%= render 'general_details' %>
</div>
