<div class="container-fluid">
  <div class="my-3 text-end">
    <%= link_to new_vrental_path, class: "btn btn-secondary btn-icon-split" do %>
      <span class="icon text-white-50">
        <i class="fas fa-umbrella-beach"></i>
      </span>
      <span class="text">
        Afegir un immoble de lloguer turístic nou
      </span>
    <% end %>
  </div>
  <%= render "vrentals", vrentals: @vrentals %>
</div>
