<div class="d-flex justify-content-between">
  <h4><%= t('posts') %> <%= "#{t('category')} #{@category.send("name_#{locale}")}" if @category %></h4>
  <%= link_to "New post", new_post_path, class: "btn btn-sm btn-info" %>
</div>
<% @posts.each do |post| %>
  <%= render post %>
<% end %>
