.btn-navbar {
  color: #155e75;
  padding: 8px 24px;
  border-radius: 4px;
  border: 2px solid #0891b2;
  transition: background 0.3s ease;
}

.btn-navbar:hover {
  background: #155e75;
  color: white;
}
.btn-confirm {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #0891b2;
  transition: background 0.3s ease;
}

.btn-confirm:hover {
  background: #155e75;
  color: white;
}

.btn-back {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #64748b;
  transition: background 0.3s ease;
}

.btn-back:hover {
  background: #334155;
  color: white;
}

.btn-cancel {
  color: #334155;
  padding: 8px 24px;
  border-radius: 4px;
  border: 2px solid #94a3b8;
  // transition: background 0.3s ease;
}

.btn-cancel:hover {
  background: #94a3b8;
  color: white;
}

.nav-line {
  border-right: 1px solid #155e75;
}

.nav-line:hover {
  border-right: 1px solid #155e75;
  color: #08232b;
  background-color: #d1def1;
}
