// agreements show page
.page p {
  text-align: justify;
}

.rentagreement {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.rentagreement h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
