<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="my-3 text-end">
    <%= link_to 'Afegir un comprador nou', new_buyer_path, class: "btn btn-primary" %>
  </div>
  <%= render "buyers", buyers: @buyers %>
</div>
