<h1>Modificar el contracte</h1>
<div class="d-flex flex-column">
  <div class="pt-4">
    <%= render 'form', agreement: @agreement %>
  </div>
  <div class="pt-4">
    <%= link_to 'Veure el contracte', @agreement, class: 'btn btn-primary' %>
  </div>
  <div class="pt-4">
    <%= link_to 'Tornar', agreements_path, class: 'btn btn-info' %>
  </div>
</div>
