<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="my-3 text-end">
    <%= link_to 'Afegir un contracte de lloguer anual nou', rentals_path, class: "btn btn-primary" %>
  </div>
  <%= render "agreements", agreements: @agreements %>
</div>
