<p id="notice"><%= notice %></p>
<%= link_to 'Contracte en PDF', agreement_path(@agreement, format: :pdf), class: "btn btn-primary" %>
<div class="page">
  <%= sanitize @contrato %>
</div>
<% @agreement.photos.each do |photo| %>
<%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
