body {
  /* background-color: white; */
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  line-height: 1.5;
}
table,
th,
td {
  border: none;
  border-collapse: collapse;
  page-break-inside: avoid;
  text-align: justify;
}
th {
  width: 40%;
}
table {
  width: 100%;
}
.btn {
  display: none !important;
}
.center {
  margin: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  /* font-family: "Raleway", sans-serif; */
}

.text-right {
  text-align: right;
}

.nowrap {
  white-space: nowrap !important;
}
.pricetable {
  text-align: left !important;
}

p {
  text-align: justify;
}

.pdf-column {
  float: left;
  width: 25%;
  padding: 10px;
}

.pdf-row:after {
  content: "";
  display: table;
  clear: both;
}
