<h1>Modificar el model de contracte</h1>
<div class="d-flex flex-column">
  <div class="pt-4">
    <%= render 'form', vrentaltemplate: @vrentaltemplate %>
  </div>
  <div class="pt-4">
    <%= link_to 'Veure el model de contracte', @vrentaltemplate, class: 'btn btn-primary' %>
  </div>
  <div class="pt-4">
    <%= link_to 'Tornar', vrentaltemplates_path, class: 'btn btn-warning' %>
  </div>
</div>
