<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 class="font-weight-bold text-primary text-center mb-2">Afegir un model de contracte nou (HUTs)</h4>
    <hr>
    <div class="container mt-5">
      <%= render 'form', vrentaltemplate: @vrentaltemplate %>
    </div>
  </div>
</div>
