<div class="container-fluid mb-5">
  <div class="d-flex justify-content-between mt-4">
    <div>
      <%= link_to t('edit'), edit_vrentaltemplate_path(@vrentaltemplate), class: "btn btn-secondary" %> <%= link_to t('delete'), @vrentaltemplate, class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Segur que vols esborrar #{@vrentaltemplate.title}?"} %>
    </div>
  </div>
  <hr>
  <div class="mt-5">
    <%= sanitize @vrentaltemplate.text %>
  </div>
  <hr>
</div>
