<h4 class="font-weight-bold text-primary text-center mb-2">Modificar la despesa <%= @vrental.name if @vrental %></h4>
<hr>
<div class="container-fluid mt-5 pb-5">
  <%= render "form", expense: @expense %>
</div>
