<p>INVERSTACH, SL, responsable del lloc web, d'ara endavant RESPONSABLE, posa a disposició dels usuaris el present document, amb el qual pretén donar compliment a les obligacions disposades en la Llei 34/2002, de 11 de juliol, de serveis de la societat de la Informació i de Comerç Electrònic (LSSICE), BOE Nº 166, així com informar a tots els usuaris del lloc web respecte a quines són les condicions d'ús.</p>
<p>Tota persona que accedeixi a aquest lloc web assumeix el paper d'usuari, comprometent-se a l'observança i compliment rigorós de les disposicions aquí disposades, així com a qualsevol altra disposició legal que fora d'aplicació. INVERSTACH, SL es reserva el dret de modificar qualsevol tipus d'informació que pogués aparèixer al lloc web, sense que hi hagi obligació de preavisar o posar en coneixement dels usuaris aquestes obligacions, entenent-se com suficient amb la publicació al lloc web de INVERSTACH, SL</p>
<h4>1. DADES IDENTIFICATIVES</h4>
<ul>
  <li>Nom de domini: <a href="https://sistachrentals.com/">https://sistachrentals.com/</a></li>
  <li>Nom comercial: Sistach Rentals</li>
  <li>Denominació social: INVERSTACH, SL</li>
  <li>CIF: B66577537</li>
  <li>API: 1009</li>
  <li>AICAT: 6541</li>
  <li>Domicili social: c / Roser 1, 1º2ª 08600 Berga</li>
  <li>Telèfon: +34 972 100 381</li>
  <li>e-mail: <a href="mailto:info@sistachrentals.com">info@sistachrentals.com</a></li>
  <li>Inscrita en el Registre (Mercantil / Públic): Registre Mercantil de Barcelona, Full B-472.210, Tom 44948, Foli 1472.</li>
</ul>
<h4>2. DRETS DE PROPIETAT INTEL·LECTUAL I INDUSTRIAL</h4>
<p>El lloc web, incloent a títol enunciatiu però no limitatiu la seva programació, edició, compilació i altres elements necessaris per al seu funcionament, els dissenys, logotips, text i / o gràfics, són propietat de l'RESPONSABLE o, si és el cas, disposa de llicència o autorització expressa per part dels autors. Tots els continguts del lloc web es troben degudament protegits per la normativa de propietat intel·lectual i industrial, així com inscrits en els registres públics corresponents.</p>
<p>Independentment de la finalitat per a la qual fossin destinats, la reproducció total o parcial, ús, explotació, distribució i comercialització, requereix en tot cas de l'autorització escrita prèvia per part de l'RESPONSABLE. Qualsevol ús no autoritzat prèviament es considera un incompliment greu dels drets de propietat intel·lectual o industrial de l'autor.</p>
<p>Els dissenys, logotips, text i / o gràfics aliens a l'RESPONSABLE i que poguessin aparèixer en el lloc web, pertanyen als seus respectius propietaris, sent ells mateixos responsables de qualsevol possible controvèrsia que pogués suscitar respecte a aquests. El RESPONSABLE autoritza expressament a que tercers puguin redirigir directament als continguts concrets del lloc web, i en tot cas redirigir al lloc web principal de <a href="https://sistachrentals.com/">https://sistachrentals.com</a>.</p>
<p>El RESPONSABLE reconeix a favor dels seus titulars els corresponents drets de propietat intel·lectual i industrial, no implicant el seu sol esment o aparició en el lloc web l'existència de drets o responsabilitat alguna sobre els mateixos, com tampoc respatller, patrocini o recomanació per part de la mateixa.</p>
<p>Per realitzar qualsevol tipus d'observació respecte a possibles incompliments dels drets de propietat intel·lectual o industrial, així com sobre qualsevol dels continguts del lloc web, pot fer-ho mitjançant el correu electrònic <a href="mailto:info@sistachrentals.com">info@sistachrentals.com</a></p>
<h4>3. EXEMPCIÓ DE RESPONSABILITATS</h4>
<p>El RESPONSABLE s'eximeix de qualsevol tipus de responsabilitat derivada de la informació publicada al seu lloc web sempre que aquesta informació hagi estat manipulada o introduïda per un tercer aliè a aquest.</p>
<h4>4. POLÍTICA DE COOKIES</h4>
<p>Perquè aquest lloc funcioni adequadament, de vegades instal·lem en els dispositius dels usuaris petits fitxers de dades, coneguts com coookies. La majoria de les pàgines web ho fan.</p>
<h4>Què són els Cookies?</h4>
<p>Un cookie és un petit fitxer de text que les pàgines web instal·len a l’ordinador o el dispositiu mòbil dels usuaris que les visiten. Les cookies fan possible que la pàgina web recordi les accions i preferències de l’usuari (identificador de connexió, idioma, mida de lletra i altres preferències de visualització), perquè aquest no hagi de tornar a configurar quan torni al lloc o navegui per les seves pàgines.</p>
<h4>Com utilitzem els Cookies?</h4>
<p>Aquesta pàgina web utilitza Google Analytics, un servei analític de web prestat per Google, Inc., una companyia de Delaware l’oficina principal a 1600 Amphitheatre Parkway, Mountain View (Califòrnia), CA 94043, Estats Units (“Google”). Google Analytics utilitza “cookies”, que són arxius de text ubicats al seu ordinador, per ajudar a la pàgina web a analitzar l’ús que fan els usuaris del lloc web. La informació que genera la cookie sobre el seu ús de la pàgina web (incloent la seva adreça IP) serà directament transmesa i arxivada per Google en els servidors d’Estats Units. Google utilitzarà aquesta informació per compte nostre amb el propòsit de seguir la pista del seu ús del lloc web, recopilant informes de l’activitat del pàgina web i prestant altres serveis relacionats amb l’activitat de la pàgina web i l’ús d’Internet. Google podrà transmetre aquesta informació a tercers quan així li ho requereixi la legislació, o quan aquests tercers processin la informació per compte de Google. Google no associarà la seva adreça IP amb cap altra dada de què disposi Google.</p>
<p>Vostè pot rebutjar el tractament de les dades o la informació rebutjant l’ús de cookies mitjançant la selecció de la configuració apropiada del seu navegador, però, ha de saber que si ho fa pot ser que no pugui utilitzar la plena funcionalitat d’aquest pàgina web. En utilitzar aquesta pàgina web vostè consent el tractament d’informació sobre vostè per Google de la forma i per als fins previament indicats.</p>
<h4>Com controlar els Cookies?</h4>
<p>Vostè pot controlar o esborrar els cookies sempre que ho desitgi: per a més informació, consulteu AllAboutCookies.org. A més de poder eliminar totes els cookies que ja es troben al seu ordinador, també pot configurar la majoria dels navegadors perquè deixin de acceptar-les. Però tingui present que, si rebutja les cookies, és possible que hagi de tornar a configurar les seves preferències cada vegada que visiti una pàgina web i que deixin de funcionar determinats serveis i funcionalitats.</p>
