<p>Aquest lloc web és per a ús personal i privat només. Qualsevol distribució, modificació, transformació, extracció, exhibició pública i / o altra activitat està estrictament prohibida, si no està expressament autoritzada per Inverstach SL</p>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">CONDICIONS GENERALS DE RESERVA L'ESTARTIT</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">CONDICIONS GENERALS DE RESERVA BARCELONA</button>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <div class="content">
      <h4>Check-in i check-out:</h4>
      <p>La recepció dels hostes es realitza a la nostra oficina, al carrer Església, 34, planta baixa, 17258 Estartit. L'horari de check-in és de 16h a 22h. Li lliurarem les claus i un mapa cap a la seva apartament. Hora de check-in regular: 15h - 19h. Check-out: abans de les 10h.</p>
      <h4>Ús dels immobles:</h4>
      <p>El client es compromet a conservar i cuidar l'apartament, així com tot el seu contingut en perfectes condicions. Una inspecció es durà a terme a l'entrada ia la sortida per assegurar-se que tot queda com es va trobar. Reservat el dret d'admissió.</p>
      <h4>Política de neteja:</h4>
      <p>Els immobles es netegen i preparen per al personal de neteja abans de la seva arribada. El servei de neteja diari no està inclòs en el preu, però pot ser contractat com a servei addicional.</p>
      <h4>Política de soroll:</h4>
      <p>Encara que vostè és un llogater temporal, com en qualsevol edifici d'apartaments, si us plau sigui respectuós amb els seus veïns, especialment en els passadissos.</p>
      <h4>Política de cancel·lació:</h4>
      <p>Cobrem un 30% de prepagament per garantir la reserva. Si la notificació adequada es proporciona fins a 30 dies abans de l'arribada, li retornarem el seu pagament inicial. Si cancel·la 29 o menys dies abans de l'arribada, el 30% de prepagament no serà reemborsat.</p>
      <h4>Confirmació de reserves:</h4>
      <p>Les confirmacions de reserva es generen automàticament a la pantalla quan l'usuari accepta la reserva i també s'envien per correu electrònic després de la reserva. Hi ha la possibilitat que aquesta confirmació arribi a la carpeta 'spam' en el client de correu electrònic de l'usuari, de manera que l'usuari, en cas de no rebre aquest correu electrònic, comprovar totes les seves carpetes de correu electrònic.</p>
      <p>Li recomanem que imprimeixi o guardi aquesta confirmació en un format PDF quan finalitzi la seva reserva.</p>
      <h4>La companyia: Inverstach SL</h4>
      <p>Direcció fiscal: c / Roser 1, 1-2, 08600 Berga</p>
      <p>Direcció de l'oficina de l'Estartit: c/Església, 34 planta baixa, 17528 Estartit</p>
      <p>CIF: B66577537</p>
      <p>API 1009 / AICAT 6541 / AF COL 920</p>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <div class="content">
      <h4>Check-in i check-out:</h4>
      <p>Com que no hi ha recepció permanent a l’edifici d’apartaments, necessitem saber l’hora aproximada de la vostra arribada per venir a l’apartament a temps i donar-vos la benvinguda. Si arribeu amb avió, seria molt útil si ens podeu enviar el vostre número de vol i si teniu la intenció d’agafar un taxi, autobús o tren des de l’aeroport (perquè puguem calcular l’hora aproximada d’arribada).</p>
      <h4>El nostre horari:</h4>
      <p>Check in: 16h – 23h; Check out: abans de les 12h (migdia)</p>
      <h4>Check-in d’hora:</h4>
      <p>Si arribeu abans de les 16h: a partir de les 12.30h (abans no) podreu deixar les vostres maletes a l’apartament mateix. Si l’apartament ja està net i preparat, estarem encantats de fer el check-in i deixar-vos entrar, però això no sempre és possible. En cas que l’apartament s’ha de netejar, podreu deixar les maletes, recollir les claus i després tornar a l’apartament a partir de les 16h.</p>
      <h4>Check-in tard:</h4>
      <p>(després de les 23h) és possible només fins a les 2h de la madrugada. Si arribeu després de les 23h, s’ha de pagar un suplement: 23h-00h: 20€, 00h-01h: 30 €, 01h-02h: 50 € (a pagar a l’arribada).</p>
      <h4>Normes dels apartaments:</h4>
      <p>Els clients es comprometen a fer bon ús de l’apartament i les seves instal·lacions. Es durà a terme una inspecció de l’apartament abans de l’entrada i després de la sortida de cada client, per confirmar que tot queda en bon estat. Reservat el dret d’admissió.</p>
      <h4>Política de neteja:</h4>
      <p>Els nostres apartaments es netegen i preparen amb roba de llit i tovalloles abans de l’arribada de cada client. El servei de neteja diària no està inclòs en el preu, però pot ser contractat com a servei addicional amb pagament extra.</p>
      <h4>Política de bon veí:</h4>
      <p>Els clients estan obligats a respectar la tranquil·litat dels veïns, especialment durant les hores de descans, de 22h a 8h.</p>
      <h4>Confirmació de reserves:</h4>
      <p>Les confirmacions de reserva es generen automàticament a la pantalla quan l’usuari accepta la reserva i també s’envien per correu electrònic després de la reserva. Hi ha la possibilitat que aquesta confirmació arribi a la carpeta ‘spam’ a l’email de l’usuari, de manera que l’usuari hauria, en cas de no rebre aquest correu electrònic, comprovar totes les seves carpetes de correu electrònic. Li recomanem que imprimeixi o guardi aquesta confirmació en format PDF quan finalitzi la seva reserva.</p>
      <h4>L’empresa: ILLA CATALANA S.L.</h4>
      <p>IVA Nº ESB65826471, Direcció fiscal: c / Roser 1, 1-2, 08600 Berga, Barcelona, Espanya. Registre Mercantil de Barcelona, tom: 43245 (119/428872).</p>
    </div>
  </div>
</div>
