<h1>Modificar la caracteristica</h1>
<div class="d-flex flex-column">
  <div class="pt-4">
    <%= render 'form', vrental: @vrental, feature: @feature %>
  </div>
  <div class="pt-4">
    <%= link_to 'Veure l\'immoble', @feature, class: 'btn btn-primary' %>
  </div>
  <div class="pt-4">
    <%= link_to 'Tornar', features_path, class: 'btn btn-info' %>
  </div>
</div>
