<div class="container-fluid mb-5">
  <div class="d-flex justify-content-between mt-4">
    <div>
      <%= link_to 'Modificar', edit_rstemplate_path(@rstemplate), class: "btn btn-secondary" %> <%= link_to 'Esborrar', @rstemplate, class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Segur que vols esborrar #{@rstemplate.title}?"} %>
    </div>
  </div>
  <hr>
  <div class="mt-5">
    <%= sanitize @rstemplate.text %>
  </div>
  <hr>
</div>
