<div class="d-flex justify-content-start mb-3">
  <%= link_to cleaning_checkin_company_office_path(@company, @office), class: "btn btn-sm btn-secondary" do %>
    <i class="fa-solid fa-circle-chevron-left me-2"></i><%= t('global.forms.back') %>
  <% end %>
</div>
<%= render "cleaning_schedules/cleaning_schedule", cleaning_schedule: @cleaning_schedule, checkout_booking: @checkout_booking, checkin_booking: @checkin_booking %>
